@charset "utf-8";

body {
	min-width: 768px;
}
.b-block{
	width: calc(100% - 54px);
}
.b-block.b-block-inner{
	width: calc(100% - 27px);
	margin-left: 0;
}

.b-news-days-right-bottom h3{
	font-size: 23px;
}

.b-question-calendar .b-calendar-cont{
	width: 55%;
	padding-left: 32px;
}
	.b-month-list .month{
		width: 95px;
	}
	.b-month-list .month.active{
		width: 120px;
	}

	.b-events-item:nth-child(n+4){
		display: none;
	}
	/*.question-back-1{
		top: 305px;
	}
	.question-back-2{
		top: 281px;
	}
	.question-back-3{
		top: 301px;
	}*/
.b-events{
	width: 45%;
	padding: 24px 35px 85px 35px;
}

@media screen and (max-width: 1170px){
	.b-main-slider-cont{
		height: 262px;
	}
	.b-tablet-block{
		display: block;
		height: 300px;
		margin-bottom: 60px;
	}
		.b-tablet-block .b-block{
			height: 100%;
		}
			.b-tablet-block .b-tablet-block-item{
				float: left;
				height: 100%;
				width: calc(100%/3 - 14px);
				margin-right: 20px;
			}
			.b-tablet-block .b-tablet-block-item:last-child{
				margin-right: 0;
			}
			.b-tablet-block .question-back-1{
				top: 125px;
			}
			.b-tablet-block .question-back-2{
				top: 101px;
			}
			.b-tablet-block .question-back-3{
				top: 121px;
			}
			.b-tablet-block .b-news-days-right-bottom h3{
				font-size: 25px;
			}
			.b-tablet-block .b-news-days-right-top a.with-arrow{
				position: absolute;
    			left: 24px;
    			bottom: 24px;
			}
			.b-tablet-block .b-news-days-right-top a.with-arrow:after {
			    top: 5px;
			}

	.b-question-calendar .b-question-calendar-left,
	.b-news-days .b-news-days-right{
		display: none;
	}

	.b-size-3-4 {
	    width: 100%;
	}
	.b-size-3-4.b-size-left,
	.b-size-3-4.b-size-right{
		float: none;
	}

	.b-news-days,
	.b-question-calendar{
	    margin-bottom: 16px;
	}
	.b-events-item {
	    max-width: 343px;
	}

	.b-btn-menu{
		margin-right: 48px;
	}
	.b-menu-list-wrap {
    	width: calc(100% - 170px);
	}

	.b-news-item {
	    width: calc(100%/3 - 12px);
	    margin-right: 16px;
	    padding: 28px 20px;
	}

	.b-directions-row .b-directions-half{
		width: calc(40% - 10px);
	}
	.b-directions-row .b-directions-half:nth-child(2n){
		width: calc(60% - 10px);
	}
	.b-directions-row:nth-child(2n) .b-directions-half{
		width: calc(60% - 10px);
	}
	.b-directions-row:nth-child(2n) .b-directions-half:nth-child(2n){
		width: calc(40% - 10px);
	}

	.b-footer-logo{
		margin-right: 50px;
	}
	.b-footer-search .b-input {
	    margin-left: 60px;
	}
	.b-footer-menu .b-block {
	    padding: 55px 0 22px 0;
	}
}

@media screen and (max-width: 1024px){
	.b-main-slider-cont{
		height: 228px;
	}
	.b-footer-search .b-input {
	    margin-left: 0;
	}
	.b-footer-search .b-input {
	    margin-right: 47px;
	}
	.b-news-index .b-news-item{
		height: 274px;
	}
	.with-arrow,
	a.with-arrow,
	span.with-arrow{
	    min-width: 140px;
	}
	.b-tablet-block .b-news-days-right-top a.with-arrow:after {
	    top: 3px;
	}
	.b-tablet-block .b-news-days-right-bottom h3,
	.b-news-days-right-top h3{
		font-size: 24px;
		line-height: 30px;
	}
	.b-directions-item h2 {
	    font-size: 28px;
	    line-height: 36px;
	    margin-bottom: 18px;
	}
}

@media screen and (max-width: 900px){
	.b-header-top-right {
	    padding-top: 10px;
	}
	.b-menu-list-wrap {
	    width: calc(100% - 154px);
	}
	.b-header-search{
		margin-right: 24px;
	}
	.b-soc-text{
		margin-right: 16px;
	}
	.b-header-top-right .b-soc {
	    margin-right: 24px;
	}
	.b-header-top-right .b-soc a{
		margin-right: 8px;
	}
	.b-header-community {
	    padding-left: 30px;
	}
	.days-list .days-item:nth-child(n+3) {
	    display: none;
	}
	.b-events {
	    padding: 24px 24px 85px 24px;
	}
	.b-calendar-cont{
		padding: 24px;
	}
	.b-month-list .month{
		width: 80px;
		font-size: 16px;
		line-height: 24px;
	}
	.b-month-list .month.active{
		width: 100px;
		font-size: 20px;
		line-height: 24px;
	}
	.b-calendar-cont h2 {
	    font-size: 32px;
	    line-height: 38px;
	    margin-bottom: 32px;
	}
	.b-calendar-months .icon-arrow-left,
	.b-calendar-months .icon-arrow-right{
		margin-top: 0;
	}
	.all-events{
		left: 24px;
	}
	.b-news-days-right-bottom .quotes-right{
		display: none;
	}
	.b-tablet-block .b-news-days-right-bottom h3,
	.b-news-days-right-top h3{
		font-size: 20px;
		line-height: 26px;
	}
	.b-news-days-person .b-name{
		padding-top: 0;
	}
	.b-news-days-person .b-img {
	    margin-right: 12px;
	}
	.b-news-days-person {
	    bottom: 24px;
	}
	.b-ask-question .ask-question {
	    font-size: 34px;
	    line-height: 38px;
	}
	.b-ask-question .ask-question .icon-arrow-right {
	    bottom: 1px;
	}
	.b-directions-item {
	    height: 296px;
	}
	.b-directions-row .b-directions-half,
	.b-directions-row .b-directions-half:nth-child(2n),
	.b-directions-row:nth-child(2n) .b-directions-half,
	.b-directions-row:nth-child(2n) .b-directions-half:nth-child(2n){
		width: 100%;
	}
	.b-directions {
	    margin: 60px 0 50px 0;
	}
	.b-btn-menu {
	    margin-right: 32px;
	}
}

