@charset "utf-8";

@font-face {
    font-family: 'FiraSans-Bold';
    src: url('../fonts/FiraSans-Bold.eot');
    src: url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Bold.woff2') format('woff2'),
        url('../fonts/FiraSans-Bold.woff') format('woff'),
        url('../fonts/FiraSans-Bold.ttf') format('truetype'),
        url('../fonts/FiraSans-Bold.svg#FiraSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Medium';
    src: url('../fonts/FiraSans-Medium.eot');
    src: url('../fonts/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Medium.woff2') format('woff2'),
        url('../fonts/FiraSans-Medium.woff') format('woff'),
        url('../fonts/FiraSans-Medium.ttf') format('truetype'),
        url('../fonts/FiraSans-Medium.svg#FiraSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../fonts/FiraSans-Regular.eot');
    src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Regular.woff2') format('woff2'),
        url('../fonts/FiraSans-Regular.woff') format('woff'),
        url('../fonts/FiraSans-Regular.ttf') format('truetype'),
        url('../fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Light';
    src: url('../fonts/FiraSans-Light.eot');
    src: url('../fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Light.woff2') format('woff2'),
        url('../fonts/FiraSans-Light.woff') format('woff'),
        url('../fonts/FiraSans-Light.ttf') format('truetype'),
        url('../fonts/FiraSans-Light.svg#FiraSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ilezgv');
  src:  url('../fonts/icomoon.eot?ilezgv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ilezgv') format('truetype'),
    url('../fonts/icomoon.woff?ilezgv') format('woff'),
    url('../fonts/icomoon.svg?ilezgv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html,
body {
	position: relative;
}
body {
	min-width: 1280px;
	font-family: 'FiraSans-Regular';
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000;
	text-align: left;
	font-size: 16px;
	line-height: 25px;
}
a{
	text-decoration: none;
	color: #000;
}
.b-checkbox label.error{
	display: none !important;
}
label.error{
	display: block;
    padding-top: 8px;
	font-family: 'FiraSans-Bold';
	font-size: 12px;
	line-height: 20px;
	color: #FF7B7B;
}
input.error,textarea.error{
	border: 1px solid #FF7B7B !important;
	/*box-shadow: 0 0px 0px 1px #F00;*/
}
.fancybox-inner{
	overflow: visible !important;
}
.bold, b{
	font-family: 'FiraSans-Bold';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1386px;
	margin: 0px auto;
}
input::-webkit-input-placeholder {
	color: #777;
}
input:-moz-placeholder {
	color: #777;
}
[class^="icon-"]:before, 
[class*=" icon-"]:before,
.with-arrow:after,
.b-nav > li > ul > li > a:before,
.b-nav > li > ul > li > ul > li > a:before,
.b-nav > li > ul > li > ul > li > a.active:before,
.b-input .input .icon-clear:before,
.b-select .select:before{
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hide{
	display: none !important;
}
.center{
	text-align: center;
}
.dashed{
	border-bottom: 1px dashed #000;
}
.dashed:hover{
	border-bottom: 1px dashed transparent;
}
.b-gray{
	background-color: #F2F5F7;
}

h1, h2, h3, h4{
	font-family: "FiraSans-Bold";
}
h1.b-title, h2.b-title{
	font-size: 40px;
	line-height: 47px;
	margin-bottom: 32px;
}

.b-btn{
	position: relative;
	min-width: 282px;
	display: inline-block;
    padding: 12px 24px;
    border-radius: 100px;
    font-family: 'FiraSans-Bold';
    min-width: 280px;

    overflow: hidden;
	-webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
}
	.b-btn:hover{
		-webkit-transition: box-shadow 100ms ease-out;
		   -moz-transition: box-shadow 100ms ease-out;
		    -ms-transition: box-shadow 100ms ease-out;
		   	 -o-transition: box-shadow 100ms ease-out;
				transition: box-shadow 100ms ease-out;
	}
	.b-btn .icon-arrow-right:before,
	.b-btn .icon-arrow-right-bold:before{
		position: absolute;
		top: 18px;
		right: 18px;
		-webkit-transition: opacity 70ms ease-out;
		   -moz-transition: opacity 70ms ease-out;
		    -ms-transition: opacity 70ms ease-out;
		   	 -o-transition: opacity 70ms ease-out;
				transition: opacity 70ms ease-out;
	}
	.b-btn .icon-arrow-right-bold:before{
		opacity: 0;
	}
	.b-btn:hover .icon-arrow-right:before{
		opacity: 0;
	}
	.b-btn:hover .icon-arrow-right-bold:before{
		opacity: 1;
	}

.b-btn.b-btn-tr{
	color: #231E78;
	border: 1px solid #231E78;
	background-color: transparent;
}
	.b-btn.b-btn-tr .icon-arrow-right:before{
		color: #48569D;
	}
	.b-btn.b-btn-tr:hover{
		box-shadow: inset 0 0px 0px 1px #231E78;
	}
	.b-btn.b-btn-tr:hover .icon-arrow-right:before{
		content: "\e903";
	}
.b-btn.b-btn-blue{
	color: #FFF;
	border: 1px solid #231E78;
	background-color: #48569D;
}
	.b-btn.b-btn-blue .icon-arrow-right:before{
		color: #FFF;
	}
	.b-btn.b-btn-blue:hover{
		box-shadow: inset 0px 0px 28px rgba(0, 0, 0, 0.25);
	}
	.b-btn.b-btn-blue:hover .icon-arrow-right:before{
		content: "\e903";
	}
.b-btn.b-btn-white-border{
	color: #FFF;
	border: 1px solid #FFF;
	background-color: transparent;
}
	.b-btn.b-btn-white-border .icon-arrow-right:before{
		color: #FFF;
	}
	.b-btn.b-btn-white-border:hover{
		box-shadow: inset 0 0px 0px 1px #FFF;
	}
	.b-btn.b-btn-white-border:hover .icon-arrow-right:before{
		content: "\e903";
	}

.button-ripple_content {
	position: relative;
	z-index: 1;
}
.button-ripple_ripples {
	position: absolute;
	top: 0;
	left: 0;
}
.button-ripple_ripple{
	display: block;
	position: absolute;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	margin: -0.5em 0 0 -0.5em;
	-webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);

	top: 0;
	left: 0;

	-webkit-animation: ripple-animation 1.5s;
            animation: ripple-animation 1.5s;
}

@keyframes ripple-animation {
    from {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
		opacity: 0.8;
    }
    to {
		-webkit-transform: scale3d(100,100,1);
		transform: scale3d(100,100,1);
		opacity: 0;
    }
}


.b-btn.white{
	color: #FFF;
	border: 1px solid #FFF;
}

.icon-vk:before {
  content: "\e900";
  font-size: 7px;
  color: #FFF;
}
.icon-facebook:before {
  content: "\e901";
  font-size: 14px;
  color: #FFF;
}
.icon-gmail:before {
  content: "\e902";
  font-size: 19px;
  color: #FFF;
}
.icon-search:before {
  content: "\e90c";
  font-size: 17px;
  color: #48569D;
}
.icon-arrow-left:before{
  content: "\e905";
  font-size: 13px;
}
.icon-arrow-right:before,
.with-arrow:after{
  content: "\e904";
  font-size: 13px;
}
.icon-arrow-right-bold:before{
  content: "\e903";
  font-size: 13px;
}
.icon-menu:before {
  content: "\e906";
  font-size: 13px;
  color: #000;
}
.icon-select:before {
  content: "\e907";
  font-size: 13px;
  color: #000;
}


.b-line{
	height: 2px;
	background-image: -webkit-gradient(linear, left top, right top, from(#2B64DB), color-stop(88.22%, rgba(43, 100, 219, 0)));
    background-image: -o-linear-gradient(left, #2B64DB 0%, rgba(43, 100, 219, 0) 88.22%);
    background-image: linear-gradient(90deg, #2B64DB 0%, rgba(43, 100, 219, 0) 88.22%);
}
.b-color-blue .b-line,
.b-color-blue-dark .b-line{
	background-image: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(88.22%, rgba(255, 255, 255, 0)));
	background-image: -o-linear-gradient(left, #FFFFFF 0%, rgba(255, 255, 255, 0) 88.22%);
	background-image: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 88.22%);
}
.with-arrow{
	display: inline-block;
	position: relative;
	min-width: 220px;
}
	.with-arrow .text{
		position: relative;
	}
		.with-arrow .text:before {
			content: '';
			position: absolute;
			left: 0;
			display: inline-block;
			height: 1em;
			width: 0%;
			border-bottom: 2px solid;
			margin-top: 5px;
			-webkit-transition: width 0.25s;
			transition: width 0.25s;
		}
		.with-arrow:hover .text:before{
			width: 100%;
		}
	.with-arrow:after{
		position: absolute;
		top: 3px;
		right: 0;
	}
	.with-arrow:hover:after{
		-webkit-animation: arrow-move 0.25s;
            animation: arrow-move 0.25s;
	}

@keyframes arrow-move {
    from {
		-moz-transform: translateX(0);
	    -ms-transform: translateX(0);
	    -webkit-transform: translateX(0);
	    -o-transform: translateX(0);
	    transform: translateX(0);
    }
    60% {
    	-moz-transform: translateX(6px);
	    -ms-transform: translateX(6px);
	    -webkit-transform: translateX(6px);
	    -o-transform: translateX(6px);
	    transform: translateX(6px);
    }
    to {
		-moz-transform: translateX(0);
	    -ms-transform: translateX(0);
	    -webkit-transform: translateX(0);
	    -o-transform: translateX(0);
	    transform: translateX(0);
    }
}

.b-size-3-4{
	width: 75%;
}
.b-size-3-4.b-size-left{
	float: left;
}
.b-size-3-4.b-size-right{
	float: right;
}
.b-size-1-4{
	width: calc(25% - 20px);
}
.b-size-1-4.b-size-left{
	float: left;
}
.b-size-1-4.b-size-right{
	float: right;
}

.b-color-blue{
	background-color: #2E4A8A;
}
.b-color-blue-dark{
	background-color: #B86DB2;
}

.mobile-controls{
	display: none;
}

/* ======= */

.b-text{

}
	.b-text h2{
		
	}
	.b-text h3{
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 22px;
	}
	.b-text h4{
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 22px;
	}
	.b-text .blue{
		color: #2E4A8A;
	}
	.b-text .text-block{
		margin-bottom: 56px;
	}
	.b-text > p{
		font-size: 16px;
		line-height: 22px;
	}
	.b-text a{
		color: #0B6093;
		text-decoration: underline;
	}
	.b-text a:hover{
		text-decoration: none;
	}
	.b-text .with-back{
		display: inline-block;
		background-color: #2E4A8A;
		padding: 21px 40px;
		margin-bottom: 32px;
	}
		.b-text .with-back a{
			color: #FFF;
		}
	.b-text img.wide{
		width: 100%;
	}
	.b-text img{
		margin-bottom: 32px;
	}

	.b-text .img-with-signature img{
		margin-bottom: 16px;
	}

	.b-text ul{
	    list-style: none;
	    padding-top: 10px;
	    margin-left: 12px;
	}
		.b-text ul li{
			position: relative;
			padding-left: 22px;
			margin-bottom: 20px;
		}
		.b-text ul li:before {
			content: " ";
			position: absolute;
			top: 10px;
			left: 0;
			width: 6px;
			height: 6px;
			background-color: #2E4A8A;
			border-radius: 3px;
		}
	.b-text ol{
		counter-reset:item;
		padding-top: 10px;
		margin-left: 68px;
	}
		.b-text ol li{
			position: relative;
			margin-bottom: 20px;
		}
		.b-text ol li:before{
			content: counter(item) '.';
			counter-increment: item;
			position: absolute;
			top: 0;
			left: -30px;
			color: #0B6093;
		    font-family: "FiraSans-Bold";
		}
	.b-text .small-text{
		font-size: 14px;
		line-height: 20px;
	}

.b-quote{
	position: relative;
	padding: 34px 32px 22px;
	background-color: #F2F5F7;
	border-radius: 5px;
	margin-bottom: 32px;
}
	.b-quote p{
		position: relative;
		z-index: 1;
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	.b-quote .signature{
		position: relative;
		z-index: 1;
		font-size: 14px;
		line-height: 20px;
		font-family: "FiraSans-Bold";
		text-transform: uppercase;
	}
	.b-quote:before{
		content: "";
		position: absolute;
		top: 22px;
		left: 22px;
		width: 147px;
		height: 119px;
		background-image: url(../i/quotes-1.svg);
		background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: 147px;
	}
	.b-quote:after{
		content: "";
		position: absolute;
		bottom: 17px;
		right: 22px;
		width: 147px;
		height: 119px;
		background-image: url(../i/quotes-2.svg);
		background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: 147px;
	}

/* ===== Главная ===== */

.b-header{

}
	.b-header-top{
		padding: 18px 0;
	}
		.b-header-logo{
			display: inline-block;
			vertical-align: top;
			width: 161px;
			height: 46px;
			background-image: url(../i/logo.png);
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: 161px;
		}
		.b-header-top-right{
			padding-top: 14px;
			display: inline-block;
			vertical-align: top;
			float: right;
		}
			.b-header-search{
				width: 32px;
			    height: 32px;
			    border-radius: 100px;
			    position: relative;
			    top: -4px;
				display: inline-block;
				vertical-align: top;
				margin-right: 45px;
				background-color: #FFF;
				-webkit-transition: box-shadow 100ms ease-out;
				   -moz-transition: box-shadow 100ms ease-out;
				    -ms-transition: box-shadow 100ms ease-out;
				   	 -o-transition: box-shadow 100ms ease-out;
						transition: box-shadow 100ms ease-out;
			}
			.b-header-search:hover{
				box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
			}
				.b-header-search.icon-search:before{
					position: absolute;
					left: 8px;
					top: 8px;
				}

			.b-soc-text{
				display: inline-block;
				margin-right: 40px;
				font-size: 16px;
				line-height: 22px;
				font-family: "FiraSans-Light";
			}
			.b-soc{
				display: inline-block;
				vertical-align: top;
				margin-right: 50px;
			}
				.b-soc a{
					display: inline-block;
					vertical-align: top;
					width: 26px;
					height: 26px;
					border-radius: 100px;
					font-size: 0px;
					margin-right: 23px;
					text-align: center;
					background-color: #2E4A8A;
					overflow: hidden;
					-webkit-transition: box-shadow 100ms ease-out;
					   -moz-transition: box-shadow 100ms ease-out;
					    -ms-transition: box-shadow 100ms ease-out;
					   	 -o-transition: box-shadow 100ms ease-out;
							transition: box-shadow 100ms ease-out;
				}
				.b-soc a.icon-vk{
					padding-top: 4px;
				}
				.b-soc a.icon-facebook{
					padding-top: 6px;
				}
				.b-soc a.icon-gmail{
					padding-top: 7px;
				    padding-left: 2px;
				    text-align: left;
				}
				.b-soc a:last-child{
					margin-right: 0;
				}
				.b-soc a:hover{
					box-shadow: 0px 0px 18px rgba(72, 86, 157, 0.45);
				}
			
			.b-header-community{
				position: relative;
				display: inline-block;
				vertical-align: top;
				padding-left: 38px;
				font-size: 14px;
				line-height: 30px;
			}
			.b-header-community:before{
				content: "";
				position: absolute;
				top: -2px;
				left: -5px;
				width: 32px;
				height: 32px;
				padding: 5px;
				box-sizing: border-box;
				border-radius: 100px;
				background-image: url(../i/icon-community.svg);
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: 22px;
				-webkit-transition: box-shadow 100ms ease-out, background-size 100ms;
				   -moz-transition: box-shadow 100ms ease-out, background-size 100ms;
				    -ms-transition: box-shadow 100ms ease-out, background-size 100ms;
				   	 -o-transition: box-shadow 100ms ease-out, background-size 100ms;
						transition: box-shadow 100ms ease-out, background-size 100ms;
			}
			.b-header-community:hover{
				text-decoration: underline;
			}
			.b-header-community:hover:before{
				background-size: 17px;
				box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
			}

	.b-header-menu-cont{
		position: relative;
		z-index: 10;
	}
	.b-header-menu{
		position: relative;
		padding: 18px 0;
		border: 1px solid #E2E2E2;
	}
		.b-btn-menu{
			vertical-align: top;
			border: 1px solid #ACACAC;
			border-radius: 5px;
			padding: 5px 17px;
			margin-right: 118px;
			cursor: pointer;
			-webkit-transition: box-shadow 100ms ease-out, border 100ms;
			   -moz-transition: box-shadow 100ms ease-out, border 100ms;
			    -ms-transition: box-shadow 100ms ease-out, border 100ms;
			   	 -o-transition: box-shadow 100ms ease-out, border 100ms;
					transition: box-shadow 100ms ease-out, border 100ms;
		}
		.b-btn-menu.desktop{
			display: inline-block;
		}
		.b-btn-menu.mobile{
			display: none;
		}
		.b-btn-menu:hover{
			border: 1px solid transparent;
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
		}
			.b-btn-menu > span,
			.b-btn-menu .icon-menu:before{
				-webkit-transition: color 100ms;
				   -moz-transition: color 100ms;
				    -ms-transition: color 100ms;
				   	 -o-transition: color 100ms;
						transition: color 100ms;
			}
			.b-btn-menu:hover > span,
			.b-btn-menu:hover .icon-menu:before{
				color: #48569D
			}
			.b-btn-menu .icon-menu{
				display: inline-block;
				vertical-align: top;
				margin-right: 14px;
			}
			.b-btn-menu > span{
				display: inline-block;
				vertical-align: top;
				font-family: 'FiraSans-Medium';
			}
		.b-menu-list-wrap{
			width: calc(100% - 240px);
			display: inline-block;
			vertical-align: top;
		}
		.b-menu-list{
			text-align: justify;
			height: 32px;
			padding-top: 6px;
		}
		.b-menu-list:after {
			content: '';
		    display: inline-block;
		    width: 100%;
		    vertical-align: top;
		}
			.b-menu-list li{
				display: inline-block;
			}
				.b-menu-list li a{
					text-transform: uppercase;
					font-family: 'FiraSans-Medium';
					color: #454545;
					position: relative;
					-webkit-transition: color 100ms;
					   -moz-transition: color 100ms;
					    -ms-transition: color 100ms;
					   	 -o-transition: color 100ms;
							transition: color 100ms;
				}
				.b-menu-list li a:after {
					content: '';
					position: absolute;
					left: 0;
					display: inline-block;
					height: 1em;
					width: 100%;
					border-bottom: 1px solid;
					margin-top: 8px;
					opacity: 0;
					-webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
					transition: opacity 0.25s, transform 0.25s;
					-webkit-transform: scale(0,1);
					transform: scale(0,1);
				}
				.b-menu-list li a:hover{
					color: #48569D;
				}
				.b-menu-list li a:hover:after{
					 opacity: 1;
					-webkit-transform: scale(1);
					transform: scale(1);
				}
	.b-header-menu-window-cont{
		position: relative;
	}
	.b-header-menu-window{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		width: 100%;
		background-color: #FFF;
		box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.15);
		padding: 40px 0 30px 0;
		opacity: 0;
		visibility: hidden;
		-moz-transform: translateY(-10px);
	    -ms-transform: translateY(-10px);
	    -webkit-transform: translateY(-10px);
	    -o-transform: translateY(-10px);
	    transform: translateY(-10px);
	    -webkit-transition: opacity 200ms, visibility 200ms, transform 200ms;
		   -moz-transition: opacity 200ms, visibility 200ms, transform 200ms;
		    -ms-transition: opacity 200ms, visibility 200ms, transform 200ms;
		   	 -o-transition: opacity 200ms, visibility 200ms, transform 200ms;
				transition: opacity 200ms, visibility 200ms, transform 200ms;
	}
	.b-header-menu-window.open{
		opacity: 1;
		visibility: visible;
		-moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	    -webkit-transform: translateY(0);
	    -o-transform: translateY(0);
	    transform: translateY(0);
	}
		ul.menu-window-item{
			width: 25%;
			float: left;
			padding-right: 24px;
		}
			ul.menu-window-item .section{
				margin-bottom: 28px;
			}
			ul.menu-window-item a{
				color: #48569D;
			}
			.b-footer-menu ul.menu-window-item a{
				color: #000;
			}
				ul.menu-window-item .section > li{
					margin-bottom: 12px;
				}
					 ul.menu-window-item .sub-section{

					}
						ul.menu-window-item .sub-section > li{
							margin-bottom: 12px;
						}
							ul.menu-window-item .sub-sub-section{
								margin-left: 20px;
							}
							ul.menu-window-item .sub-sub-section > li{
								margin-bottom: 10px;
							}
								ul.menu-window-item .sub-sub-section > li > a{
									font-family: 'FiraSans-Light';
								}

.block-bottom{
	position: absolute;
	left: 24px;
	bottom: 24px;
	font-size: 14px;
	line-height: 20px;
	font-family: 'FiraSans-Bold';
	letter-spacing: 1.5px;
}
.b-content{

}
.b-main-slider-cont{
	position: relative;
	margin-top: 16px;
	margin-bottom: 90px;
	width: 100%;
	height: 310px;
	border-radius: 5px;
}
	.b-main-slider{
		position: relative;
		height: 100%;
	}
	.b-main-slider.slick-loading .b-main-slider-item:not(:first-child){
		display: none;
	}
		.b-main-slider .slick-list{
			border-radius: 5px;
			overflow: hidden;
			height: 100%;
		}
		.b-main-slider .slick-track{
			height: 100%;
		}
			.b-main-slider-item{

			}
				.b-main-slider-item .b-img{
					height: 100%;
					width: 100%;
					background-position: 50% 50%;
				    background-repeat: no-repeat;
				    background-size: cover;
				}

	.b-news-days{
		margin-bottom: 20px;
	}
			.b-news-days-item{
				position: relative;
				float: left;
				width: calc(100%/3);
				min-height: 568px;
				padding: 28px 20px;
				background-color: #F2F5F7;
			}
				.b-news-days-item h2{
					font-size: 40px;
					line-height: 47px;
					margin-bottom: 36px;
				}
				.days-list{

				}
				.days-list.hover-children{

				}
					.days-list.hover-children .days-item:not(.hover) .date,
					.days-list.hover-children .days-item:not(.hover) p{
						opacity: 0.5;
					}
					.days-item{
						display: block;
					}
						.days-item .date,
						.days-item p{
							-webkit-transition: opacity 100ms;
							   -moz-transition: opacity 100ms;
							    -ms-transition: opacity 100ms;
							   	 -o-transition: opacity 100ms;
									transition: opacity 100ms;
						}
						.days-item .date{
							font-family: 'FiraSans-Bold';
							color: #B0B0B0;
							text-transform: uppercase;
							margin-bottom: 10px;
						}
						.days-item p{
							margin-bottom: 20px;
						}
				.b-news-days-item a.with-arrow,
				.b-news-days-item span.with-arrow{
					text-transform: uppercase;
					color: #43469A;
				}
			.b-news-days-item.b-news-days-today{
				background-color: #43469A;
			}
			.b-news-days-item.b-news-days-today h2,
			.b-news-days-item.b-news-days-today .date,
			.b-news-days-item.b-news-days-today a,
			.b-news-days-item.b-news-days-today p{
				color: #FFF;
			}
	.b-news-days-right{

	}
		.b-news-days-right-bottom{
			position: relative;
			height: 332px;
			padding: 24px;
			background-color: #6E8EC1;
		}
			.b-news-days-right-bottom h3{
				font-family: 'FiraSans-Medium';
				font-size: 25px;
				line-height: 32px;
				color: #FFF;
			}
			.b-news-days-person{
				width: calc(100% - 48px);
				position: absolute;
				left: 24px;
				bottom: 30px; 
			}
				.b-news-days-person .b-img{
					display: inline-block;
					vertical-align: top;
					width: 45px;
					height: 45px;
					border-radius: 100px;
					margin-right: 23px;
				}
				.b-news-days-person .b-name{
					display: inline-block;
					vertical-align: top;
					width: calc(100% - 74px);
					color: #FFF;
					line-height: 20px;
					padding-top: 2px;
				}
			.b-news-days-right-bottom .quotes-left{
				position: absolute;
				left: 38px;
				top: 13px;
				width: 62px;
				height: 48px;
				background-image: url(../i/quotes-left.png);
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-size: 62px;
			}
			.b-news-days-right-bottom .quotes-right{
				position: absolute;
				right: 20px;
				bottom: 28px;
				width: 113px;
				height: 87px;
				background-image: url(../i/quotes-right.png);
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-size: 113px;
			}
		.b-news-days-right-top{
			display: block;
			position: relative;
			height: 222px;
			padding: 24px;
			background-color: #F2F5F7;
			margin-bottom: 14px;
		}
			.b-news-days-right-top h3{
				font-family: 'FiraSans-Medium';
				font-size: 25px;
				line-height: 32px;
				margin-bottom: 27px;
			}
			.b-news-days-right-top .b-line{
				width: 100%;
				max-width: 238px;
				margin-bottom: 25px;
				background-image: -webkit-gradient(linear, left top, right top, from(#2B64DB), color-stop(88.22%, rgba(43, 100, 219, 0)));
				background-image: -o-linear-gradient(left, #2B64DB 0%, rgba(43, 100, 219, 0) 88.22%);
				background-image: linear-gradient(90deg, #2B64DB 0%, rgba(43, 100, 219, 0) 88.22%);
			}
			.b-news-days-right-top .with-arrow{
				font-size: 14px;
				line-height: 20px;
				font-family: 'FiraSans-Bold';
				letter-spacing: 1.5px;
				text-transform: uppercase;
				color: #43469A;
			}

.b-question-calendar{
	height: 490px;
	margin-bottom: 60px;
}
.b-question-calendar .b-block{
	height: 100%;
}
	.b-question-calendar-left{
		height: 100%;
	}
		.b-expert-rosatom{
			display: block;
			position: relative;
			height: 222px;
			padding: 24px;
			background-color: #48569D;
			color: #FFF;
			margin-bottom: 14px;
		}
			.b-expert-rosatom h3{
				font-family: 'FiraSans-Medium';
				font-size: 25px;
				line-height: 32px;
				margin-bottom: 27px;
			}
			.b-expert-rosatom .b-line{
				width: 100%;
				max-width: 238px;
				margin-bottom: 25px;
				background-image: -webkit-gradient(linear, left top, right top, from(#FFFFFF), color-stop(88.22%, rgba(255, 255, 255, 0)));
				background-image: -o-linear-gradient(left, #FFFFFF 0%, rgba(255, 255, 255, 0) 88.22%);
				background-image: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 88.22%);
			}
			.b-expert-rosatom .with-arrow{
				font-size: 14px;
				line-height: 20px;
				font-family: 'FiraSans-Bold';
				letter-spacing: 1.5px;
				text-transform: uppercase;
				color: #FFF;
			}
		.b-ask-question{
			display: block;
			position: relative;
			padding: 24px 22px;
			height: 254px;
			background-image: url(../i/question-back.jpg);
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
		.b-ask-question:hover .b-question-back{
			background-color: rgba(165,81,157,0.95);
		}
			.b-question-back{
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				background-color: rgba(184,109,178,0.95);
				-webkit-transition: background-color 100ms;
				   -moz-transition: background-color 100ms;
				    -ms-transition: background-color 100ms;
				   	 -o-transition: background-color 100ms;
						transition: background-color 100ms;
			}
			.b-ask-question .ask-question{
				position: absolute;
				z-index: 5;
				left: 22px;
				bottom: 24px;
				display: inline-block;
				color: #FFF;
				font-size: 40px;
				line-height: 47px;
				font-family: 'FiraSans-Bold';
			}
				.b-ask-question .ask-question .icon-arrow-right{
					position: absolute;
				    right: -34px;
					bottom: 2px;	
				}
				.b-ask-question .ask-question .icon-arrow-right:before{
					color: #FFF;
					font-size: 18px;
				}
			.question-back-1{
				position: absolute;
			    width: 35px;
			    height: 56px;
			    top: 65px;
			    left: 29px;
			    z-index: 2;
			    background-image: url(../i/question-1.svg);
			    background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-size: 35px;
			    opacity: 0.5;
			    -moz-transform: rotate(-25deg);
			    -ms-transform: rotate(-25deg);
			    -webkit-transform: rotate(-25deg);
			    -o-transform: rotate(-25deg);
			    transform: rotate(-25deg);
			}
			.question-back-2{
				position: absolute;
				width: 49px;
				height: 78px;
				top: 41px;
				left: 55px;
				z-index: 2;
				background-image: url(../i/question-1.svg);
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-size: 49px;
			}
			.question-back-3{
				position: absolute;
			    width: 40px;
			    height: 67px;
			    top: 61px;
			    left: 94px;
			    z-index: 2;
			    background-image: url(../i/question-1.svg);
			    background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-size: 40px;
			    opacity: 0.5;
			    -moz-transform: rotate(25deg);
			    -ms-transform: rotate(25deg);
			    -webkit-transform: rotate(25deg);
			    -o-transform: rotate(25deg);
			    transform: rotate(25deg);
			}
	.b-question-calendar-right{
		box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
		background-color: #FFF;
		height: 100%;
	}
	.b-calendar-cont{
		float: left;
		width: 53%;
		padding: 32px 40px;
		height: 100%;
	}
		.b-calendar-cont h2{
			font-size: 40px;
	    	line-height: 47px;
	    	margin-bottom: 32px;
		}
		.b-calendar-months{

		}
		.b-month-list{
			display: inline-block;
			margin-bottom: 32px;
		}
			.b-month-list .month{
				display: inline-block;
				width: 105px;
				margin-right: 4px;
				font-family: 'FiraSans-Medium';
				font-size: 19px;
				line-height: 29px;
				opacity: 0.5;
				-webkit-transition: opacity 100ms;
				   -moz-transition: opacity 100ms;
				    -ms-transition: opacity 100ms;
				   	 -o-transition: opacity 100ms;
						transition: opacity 100ms;
			}
			.b-month-list .month:hover{
				opacity: 1;
			}
			.b-month-list .month.active{
				width: 135px;
				font-size: 24px;
				line-height: 29px;
				opacity: 1;
			}
			.b-calendar-months .icon-arrow-left,
			.b-calendar-months .icon-arrow-right{
				display: inline-block;
				vertical-align: top;
				margin-top: 3px;
				width: 24px;
    			height: 24px;
    			border-radius: 100px;
    			color: #48569D;
    			position: relative;
    			-webkit-transition: background-color 100ms, box-shadow 100ms;
				   -moz-transition: background-color 100ms, box-shadow 100ms;
				    -ms-transition: background-color 100ms, box-shadow 100ms;
				   	 -o-transition: background-color 100ms, box-shadow 100ms;
						transition: background-color 100ms, box-shadow 100ms;
			}
			.b-calendar-months .icon-arrow-left{
				position: relative;
				left: -9px;
			}
			.b-calendar-months .icon-arrow-left:before,
			.b-calendar-months .icon-arrow-right:before{
				position: absolute;
				top: 6px;
				left: 9px;
			    -webkit-transition: color 100ms;
				   -moz-transition: color 100ms;
				    -ms-transition: color 100ms;
				   	 -o-transition: color 100ms;
						transition: color 100ms;
			}
			.b-calendar-months .icon-arrow-left:hover,
			.b-calendar-months .icon-arrow-right:hover{
				box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
			}
			.b-calendar-months .icon-arrow-left:hover:before,
			.b-calendar-months .icon-arrow-right:hover:before{
				color: #48569D;
			}
		.b-calendar{
			width: 100%;
		}
			.b-calendar th{
				width: 60px;
				padding-bottom: 20px;
				color: #B0B0B0;
				font-family: 'FiraSans-Bold';
			}
				.b-calendar td{
					position: relative;
					font-family: 'FiraSans-Light';
					padding-bottom: 28px;
					color: #231E78;
				}
					.b-calendar td a{
						position: absolute;
					    padding: 5px 10px;
					    display: inline-block;
					    background-color: #48569D;
					    border-radius: 100px;
					    color: #FFF;
					    font-family: 'FiraSans-Bold';
					    top: -5px;
					    left: -11px;
					    text-align: center;
    					width: 35px;
    					-webkit-transition: box-shadow 100ms;
						   -moz-transition: box-shadow 100ms;
						    -ms-transition: box-shadow 100ms;
						   	 -o-transition: box-shadow 100ms;
								transition: box-shadow 100ms;
					}
					.b-calendar td a:hover{
						box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
					}
	.b-events{
		position: relative;
		float: left;
		width: 47%;
		padding: 24px 42px 85px 42px;
		background-color: #F2F5F7;
		height: 100%;
	}
		.b-events-list{

		}
			.b-events-item{
				display: block;
				margin-bottom: 22px;
			}
				.b-events-item .date{
					font-family: 'FiraSans-Bold';
					font-size: 14px;
					line-height: 20px;
					text-transform: uppercase;
					color: #B0B0B0;
					margin-bottom: 6px;
				}
				.b-events-item p{
					line-height: 22px;
				}
		.all-events{
			position: absolute;
			left: 41px;
			bottom: 24px;
			padding: 12px 24px;
			border-radius: 100px;
			border: 1px solid #FFF;
			color: #FFF;
		}

.b-tablet-block,
.b-mobile-block{
	display: none;
}

.b-news{
	padding: 40px 0;
}
	.b-news-list{
		margin-bottom: 32px;
	}
		.b-news-item{
			position: relative;
			display: block;
			float: left;
			width: calc(100%/3 - 16px);
			height: 224px;
			margin-right: 24px;
			padding: 28px;
			background-color: #FFF;
			-webkit-transition: opacity 100ms;
			   -moz-transition: opacity 100ms;
			    -ms-transition: opacity 100ms;
			   	 -o-transition: opacity 100ms;
					transition: opacity 100ms;
		}
		.b-news-list.hover-children{

		}
			.b-news-list.hover-children .b-news-item:not(.hover){
				opacity: 0.5;
			}
		.b-news-item:last-child{
			margin-right: 0;
		}
			.b-news-item .date{
				color: #B0B0B0;
				font-family: 'FiraSans-Bold';
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 12px;
			}
			.b-news-item p{
				font-size: 20px;
				line-height: 22px;
			}
			.b-news-item .with-arrow{
				left: 28px;
			    text-transform: uppercase;
			    color: #231E78;
			}
	.all-news{
		display: inline-block;
		color: #231E78;
		padding: 12px 24px;
		border-radius: 100px;
		border: 1px solid #231E78;
		font-family: 'FiraSans-Bold';
	}

.b-directions{
	margin: 84px 0 74px 0;
}
	.b-directions-half{
		float: left;
		width: calc(50% - 10px);
		margin-right: 20px;
	}
	.b-directions-half:nth-child(2n){
		margin-right: 0;
	}
		.b-directions-item{
			position: relative;
			float: left;
			width: calc(50% - 10px);
			background-color: #F2F5F7;
			padding: 24px 24px 100px 24px;
			margin-right: 20px;
			margin-bottom: 24px;
			color: #000;
			height: 324px;
		}
		.b-directions-item:nth-child(2n){
			margin-right: 0;
		}
		.b-directions-item.wide{
			width: 100%;
			margin-right: 0;
		}
		.b-directions-item.b-color-blue{
			background-color: #2E4A8A;
			color: #FFF;
		}
		.b-directions-item.b-color-blue-dark{
			background-color: #B86DB2;
			color: #FFF;
		}
		.b-directions-item.b-color-blue h2,
		.b-directions-item.b-color-blue-dark h2,
		.b-directions-item.b-color-blue > a,
		.b-directions-item.b-color-blue-dark > a,
		.b-directions-item.b-color-blue ul li a,
		.b-directions-item.b-color-blue-dark ul li a{
			color: #FFF;
		}
			.b-directions-item h2{
				font-size: 32px;
				line-height: 46px;
				margin-bottom: 24px;
			}
			.b-directions-item .b-line{
				margin-bottom: 30px;
			}
			.b-directions-item ul{

			}
				.b-directions-item ul li{
					margin-bottom: 8px;
				}
					.b-directions-item ul li a{

					}
			.b-directions-item > a{
				text-transform: uppercase;
			}

.b-footer{
	box-shadow: 0px -6px 44px rgba(0, 0, 0, 0.05);
}

	.b-footer-top{
		padding: 50px 0 46px 0;
	}
		.b-footer-logo{
		    display: inline-block;
			vertical-align: top;
			width: 138px;
			height: 38px;
			background-image: url(../i/logo.png);
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: 138px;
		    margin-top: 15px;
		    margin-right: 106px;
		}
		.b-footer-contacts{
			display: inline-block;
			vertical-align: top;
			padding-top: 8px;
			float: right;
			font-size: 14px;
			line-height: 20px;
		}
			.b-footer-contacts .email{
				position: relative;
				display: inline-block;
				padding-left: 32px;
				color: #2B64DB;
				margin-bottom: 24px;
			}
			.b-footer-contacts .email:before{
				content: "";
				position: absolute;
				top: 4px;
				left: 0;
				width: 14px;
				height: 10px;
				background-image: url(../i/icon-email.svg);
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-size: 14px;
			}
			.b-footer-contacts .phone{
				position: relative;
				padding-left: 32px;
				display: inline-block;
			}
			.b-footer-contacts .phone:before{
				content: "";
				position: absolute;
				top: 3px;
				left: 3px;
				width: 11px;
				height: 11px;
				background-image: url(../i/icon-phone.svg);
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-size: 11px;
			}

	.b-footer-menu{
		background-color: #F8FAFB;
	}
		.b-footer-menu .b-block{
			padding: 55px 55px 22px 55px;
		}
			.b-footer-menu .b-footer-menu-item > li a{
				color: #000;
			}
	.b-footer-menu-mobile{
		display: none;
	}

	.b-footer-search{
		padding: 47px 0 37px 0;
	}
		.b-footer-search .b-input{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 382px;
			margin-left: 248px;
			margin-right: 116px;
		}
		.b-footer-search .b-input .input input{
			background-color: #FFF;
			padding: 14px 32px 14px 44px;
		}
		.b-footer-search .b-input .input .icon-search{
			position: absolute;
			top: 12px;
			left: 14px;
		}
		.b-footer-search .b-input .input .icon-search:before{
			color: #000;
			font-size: 14px;
		}
		.b-footer-search .b-input .input .icon-clear:before{
			top: 10px;
    		right: 7px;
			color: #ECEBED;
		}
		.b-footer-search .b-input .input .icon-clear:hover:before{
			color: #2E4A8A;
		}
		.b-footer-search .b-soc-text{
			padding-top: 12px;
		}
		.b-footer-search .b-soc{
			display: inline-block;
			vertical-align: top;
			padding-top: 8px;
		}
			.b-footer-search .b-soc a{
				width: 30px;
				height: 30px;
			}
			.b-footer-search .b-soc a.icon-vk{
				padding-top: 6px;
			}
			.b-footer-search .b-soc a.icon-facebook{
				padding-top: 8px;
			}
	.b-footer-bottom{
		padding: 20px 0 18px 0;
		background-color: #48569D;
		color: #FFF;
	}

/* ===== Сообщества ===== */

.b-header-inner{
	height: 334px;
	background-image: url(../i/header-inner.jpg);
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 56px 0;
    color: #FFF;
    background-color: #2E4A8A;
}
	.b-header-inner-left{
		display: inline-block;
		vertical-align: top;
		width: 483px;
		margin-right: 100px;
	}
		.b-breadcrumbs{
			margin-bottom: 16px;
		}
			.b-breadcrumbs li{
				font-size: 14px;
				line-height: 22px;
			}
				.b-breadcrumbs li a,
				.b-breadcrumbs li span{
					float: left;
					color: #FFF;
				}
				.b-breadcrumbs li:after {
				    position: relative;
				    content: "—";
				    padding: 0 5px;
				    line-height: 20px;
				    display: block;
				    float: left;
				    font-family: 'FiraSans-Regular';
				}

	.b-breadcrumbs li:last-child:after {
	    display: none;
	}
		.b-header-inner-left h2{
			font-size: 55px;
			line-height: 56px;
		}
	.b-header-inner-right{
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 590px);
	}

.b-content-inner-wrap{
	display: table;
}
.b-nav{
	display: table-cell;
	height: 100%;
	padding: 40px 0;
	width: 467px;
}
	/* === первый уровень === */
	.b-nav li a{
		display: block;
		font-size: 18px;
		line-height: 20px;
		color: #022D47;
	}
	.b-nav > li{

	}
	.b-nav > li.active{
		padding-top: 10px;
	}
		.b-nav > li.active > a{
			padding: 22px 27px;
			background-color: #2E4A8A;
			font-family: 'FiraSans-Bold';
			color: #FFF;
		}
		.b-nav > li > a{
			padding: 12px 27px;
		}
		/* === второй уровень === */
		.b-nav > li > ul{
   			margin-top: 16px;
    		margin-bottom: 24px;
			padding-left: 36px;
		}
			.b-nav > li > ul > li{
				position: relative;
			}
			.b-nav > li > ul > li.active{

			}
				.b-nav > li > ul > li.active > a{
					font-family: 'FiraSans-Bold';
				}
				.b-nav > li > ul > li > a{
					padding: 12px 16px 12px 34px;
					color: #2E4A8A;
				}
				.b-nav > li > ul > li > a:before{
					position: absolute;
					top: 15px;
					left: 0;
					content: "\e903";
					color: #2E4A8A;
  					font-size: 13px;
				}
				/* === третий уровень === */
				.b-nav > li > ul > li > ul{
					margin: 16px 0;
					padding-left: 40px;
				}
					.b-nav > li > ul > li > ul > li{
						position: relative;
					}
					.b-nav > li > ul > li > ul > li.active{

					}
						.b-nav > li > ul > li > ul > li.active > a{
							font-family: 'FiraSans-Bold';
						}
						.b-nav > li > ul > li > ul > li > a{
							padding: 12px 16px 12px 32px;
							color: #2E4A8A;
						}
						.b-nav > li > ul > li > ul > li > a:before{
							position: absolute;
							top: 16px;
							left: 0;
							content: "\e909";
							color: #2E4A8A;
		  					font-size: 13px;
						}
						.b-nav > li > ul > li > ul > li.active > a:before{
							content: "\e908";
						}

.b-nav.hover-children > li > a{

}
.b-nav.hover-children > li > a:not(.hover){
	opacity: 0.5;
}

	.b-nav > li > ul.hover-children > li > a{

	}
	.b-nav > li > ul.hover-children > li > a:not(.hover){
		opacity: 0.5;
	}

		.b-nav > li > ul > li > ul.hover-children > li > a{

		}
		.b-nav > li > ul > li > ul.hover-children > li > a:not(.hover){
			opacity: 0.5;
		}

.b-content-inner{
	display: table-cell;
	height: 100%;
	width: calc(100% - 467px);
	padding: 0 119px;
	padding-top: 30px;
	box-shadow: inset 35px 4px 54px -46px rgba(0, 0, 0, 0.1);
}
	.b-content-inner h4{
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 16px;
	}
	.b-sections-list{
		display: inline-block;
		background-color: #2E4A8A;
		padding: 24px 10px 24px 10px;
		margin-bottom: 32px;
		color: #FFF;
	}
		.b-sections-list a{
			position: relative;
			padding: 0 32px;
			font-size: 16px;
			line-height: 20px;
			color: #FFF;
			text-decoration: underline;
		}
		.b-sections-list a:after{
			content: "";
			position: absolute;
			top: 0;
			right: -1px;
			width: 1px;
			height: 20px;
			background-color: #FFF;
		}
		.b-sections-list a:last-child:after{
			display: none;
		}
	.b-comm-contacts{
		padding: 20px 40px 40px 40px;
		color: #FFF;
		background-color: #2E4A8A;
		margin-bottom: 56px;
	}
		.b-comm-contacts h4{
			margin-bottom: 24px;
		}
		.b-comm-contacts a{
			position: relative;
			display: inline-block;
			padding-left: 58px;
			margin-bottom: 26px;
			color: #FFF;
		}
		.b-comm-contacts a:before{
			content: "";
			position: absolute;
			top: 5px;
			left: 0;
			width: 18px;
			height: 15px;
			background-image: url(../i/icon-email-white.svg);
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: 18px;
		}
		.b-comm-contacts a:last-child{
			margin-bottom: 0;
		}
	.b-questions-list{
		margin-bottom: 56px;
	}
		.b-questions-item{
			background-color: #F2F5F7;
			padding: 24px 32px;
			margin-bottom: 16px;
		}
			.b-questions-item-ref{
				cursor: pointer;
			}
				.b-questions-item h4{
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 16px;
					text-transform: uppercase;
					font-family: 'FiraSans-Bold';
					letter-spacing: 0.6px;
				}
				.b-questions-item p{
					margin-bottom: 16px;
				}
				.b-questions-item .b-open-answer{
					position: relative;
					display: inline-block;
					font-size: 14px;
					line-height: 20px;
					color: #231E78;
					text-transform: uppercase;
					font-family: 'FiraSans-Bold';
					padding-right: 34px;
					letter-spacing: 0.6px;
				}
					.b-questions-item .b-open-answer .icon-select:before{
						position: absolute;
						top: 5px;
						right: 0;
						color: #231E78;    
						font-size: 9px;
					}
			.b-answer{
				margin-top: 24px;
				padding: 26px 32px;
				background-color: #FFF;
			}
	.b-materials-list{
		margin-bottom: 56px;
	}
		.b-materials-item{
			position: relative;
			display: block;
			padding-left: 40px;
			font-size: 16px;
			line-height: 22px;
			color: #0B6093;
			margin-bottom: 20px;
		}
		.b-materials-item:before{
			content: "";
			position: absolute;
			top: 6px;
			left: 0;
			width: 17px;
			height: 20px;
			background-image: url(../i/icon-pdf.svg);
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: 17px;
		}
		.b-materials-item:last-child{
			margin-bottom: 0;
		}
	.b-content-inner .b-news{
		padding: 0;
		margin-bottom: 80px;
	}
		.b-content-inner .b-news .b-news-item{
			width: calc(50% - 12px);
			margin-right: 24px;
			background-color: #F2F5F7;
		}
		.b-content-inner .b-news .b-news-item:nth-child(2n){
			margin-right: 0;
		}
.b-news-inner{
	margin-bottom: 56px;
}
	.b-news-inner .b-news-list{
		margin-bottom: 12px;
	}

	.b-news-inner .b-news-item{
		width: calc(50% - 29px);
		height: auto;
		padding: 0;
		margin-right: 52px;
		margin-bottom: 20px;
	}
	.b-news-inner .b-news-item:nth-child(2n){
		margin-right: 0;
	}
		.b-news-inner .b-news-item .date{
			font-size: 14px;
			line-height: 20px;
			text-transform: uppercase;
			color: #B0B0B0;
			font-family: 'FiraSans-Bold';
			margin-bottom: 9px;
		}
		.b-news-inner .b-news-item p{
			font-size: 16px;
			line-height: 22px;
		}
	.b-news-inner .all-news{
		float: right;
	}
	.b-news-inner .with-arrow{
		min-width: 160px;
	}

/* ===== Управление инновациями ===== */

.b-innov-contacts{
	background-color: #2E4A8A;
	border-radius: 10px;
	padding: 20px 37px 23px 37px;
	color: #FFF;
	margin-bottom: 56px;
}
	.b-innov-contacts .b-img{
		display: inline-block;
		vertical-align: top;
		margin-top: 46px;
		margin-right: 54px;
		width: 106px;
		height: 106px;
		border-radius: 100px;
		overflow: hidden;
	}
	.b-innov-contacts-right{
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 166px);
	}
		.b-innov-contacts-right h4{
			margin-bottom: 22px;
		}
		.b-innov-contacts-right p{
			line-height: 22px;
		}
		.b-innov-contacts-right .phone{
			margin-right: 72px;
			color: #FFF;
		}
		.b-innov-contacts-right .email{
			color: #FFF;
		}
	.b-innov-share{
		display: inline-block;
		position: relative;
		padding-left: 50px;
		color: #0B6093;
	}
	.b-innov-share:before {
	    content: "";
	    position: absolute;
	    top: -3px;
	    left: 0;
	    width: 25px;
	    height: 28px;
	    background-image: url(../i/icon-share.svg);
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: 25px;
	}
	.b-innov-pdf{
		padding: 24px 31px 26px;
		background: #2E4A8A;
		border-radius: 5px;
		margin-top: 20px;
		margin-bottom: 72px;
	}
		.b-innov-pdf a{
			display: inline-block;
			position: relative;
			padding-left: 80px;
			color: #FFF;
			text-decoration: underline;
		}
		.b-innov-pdf a:before {
		    content: "";
		    position: absolute;
		    top: -3px;
		    left: 0;
		    width: 31px;
		    height: 35px;
		    background-image: url(../i/icon-pdf-white.svg);
		    background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: 31px;
		}

/* ===== Инновационная вертикаль ===== */

.b-partners-list{
	margin-bottom: 76px;
}
	.b-partner-item{
		position: relative;
		display: block;
		float: left;
		text-align: center;
		height: 96px;
		width: calc(50% - 10px);
		margin-right: 20px;
		margin-bottom: 16px;
		background-color: #FFF;
		box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.11);
	}
	.b-partner-item:nth-child(2n){
		margin-right: 0;
	}
		.b-partner-item .b-img,
		.b-partner-item span{
			position: absolute;
	        top: 50%;
	        left: 50%;
	        -webkit-transform: translateY(-50%) translateX(-50%);
		    -moz-transform: translateY(-50%) translateX(-50%);
		    -ms-transform: translateY(-50%) translateX(-50%);
		    -o-transform: translateY(-50%) translateX(-50%);
		    transform: translateY(-50%) translateX(-50%);
		}
		.b-partner-item .b-img{
			max-width: 203px;
			max-height: 75px;
			width: auto;
			height: auto;
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: contain;
		}
		.b-partner-item span{
			width: 100%;
			padding: 0 24px;
			color: #0B6093;
			text-decoration: underline;
		}
		.b-partner-item span:hover{
			text-decoration: none;
		}

/* ==== Форма ==== */

.b-form{
	padding: 34px 125px 45px 32px;
	background-color: #2E4A8A;
	max-width: 683px;
	margin-bottom: 80px;
}
	.b-form h2{
		color: #FFF;
		margin-bottom: 32px;
	}
	.b-form h3{
		font-size: 24px;
		line-height: 29px;
		font-family: 'FiraSans-Medium';
		color: #FFF;
		padding-top: 16px;
		margin-bottom: 24px;
	}
	.b-form .b-input{
		margin-bottom: 32px;
	}
		.b-form .b-input p,
		.b-form .b-select p{
			color: #FFF;
		}
		.b-form .b-input .input{

		}
			.b-form .b-input .input input{
				border: 1px solid #FFF;
				border-radius: 5px;
				padding: 20px 16px;
				color: #FFF;
			}
			.b-form input::-webkit-input-placeholder {
				color: rgba(255,255,255,0.5);
			}
			.b-form input:-moz-placeholder {
				color: rgba(255,255,255,0.5);
			}
	.b-form .b-select{
		margin-bottom: 32px;
	}
		.b-form .b-select .select{

		}
			.b-form .b-select .select select{
				padding: 20px 16px;
				color: #FFF;
			}
	.b-form .b-checkbox{
		margin-bottom: 36px;
	}

/* ==== Опросы ==== */

.b-quiz{
	padding: 36px 32px 32px;
	background-color: #F2F5F7;
	margin-bottom: 80px;
}
	.b-quiz h3{
		font-family: 'FiraSans-Medium';
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 26px;
	}
	.b-question{
		
	}
		.b-question p{
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 20px;
		}
		.b-question p.choose-answer{
			font-family: 'FiraSans-Bold';
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.6px;
			text-transform: uppercase;
			margin-bottom: 12px;
		}
		.b-options-list{
			margin-bottom: 12px;
		}
			.b-options-list .b-options-item{

			}
				.b-options-list input {
				    position: absolute;
				    opacity: 0;
				    visibility: hidden;
				    margin-bottom: 0;
				}
		.b-options-block{

		}
			.b-options-block li{
				display: inline-block;
				vertical-align: top;
				width: calc(50% - 12px);
				margin-right: 16px;
				margin-bottom: 20px;
			}
				.b-options-block li .b-options-item{
					display: block;
					width: 100%;
					background-color: #2E4A8A;
					border-radius: 5px;
					padding: 18px 23px;
					color: #FFF;
					font-size: 16px;
					line-height: 20px;
					font-family: 'FiraSans-Bold';
					border: 2px solid #2E4A8A;
					cursor: pointer;
				}
				.b-options-block li:nth-child(2n){
					margin-right: 0;
				}
				.b-options-block li.selected .b-options-item{
					background-color: transparent;
					color: #2E4A8A;
				}

/* ==== */

.b-input{

}
	.b-input p{
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 6px;
	}
		p .required{
			margin-left: 4px;
			color: #F00;
		}
	.b-input input{
		width: 100%;
		background-color: transparent;
		border: 1px solid #ECEBED;
		border-radius: 5px;
		padding: 20px 32px 20px 44px;
		font-size: 16px;
	}
		.b-input .input{
			position: relative;
		}
		.b-input .input .icon-clear{
			cursor: pointer;
			display: none;
		}
		.b-input .input .icon-clear.show{
			display: block;
		}
		.b-input .input .icon-clear:before{
			content: "\e90a";
			position: absolute;
			top: 16px;
    		right: 13px;
			width: 12px;
			height: 12px;
			font-size: 12px;
			color: #FFF;
			padding: 8px;
		}
		.b-input .input .icon-clear:hover:before{
			color: #DDD;
		}
.b-input input::-ms-clear {
    display: none;
}

.b-select{

}
	.b-select p{
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 6px;
	}
	.b-select select{
		width: 100%;
		background-color: transparent;
		border: 1px solid #ECEBED;
		border-radius: 5px;
		padding: 20px 32px 20px 44px;
		font-size: 16px;
		-webkit-appearance: none;
    	-moz-appearance: none;
    	appearance: none;
    	cursor: pointer;
	}
		.b-select .select{
			position: relative;
		}
		.b-select .select:before{
			content: "\e907";
			position: absolute;
			top: 26px;
    		right: 22px;
    		font-size: 8px;
			cursor: pointer;
			color: #FFF;
		}
.b-select select::-ms-expand {
    display: none;
}
.b-select select option {
	color: #000;
}

.icon-checked:before{
	content: "\e90b";
	font-size: 12px;
    color: #FFF;
}
.b-checkbox{
	position: relative;
}
.b-checkbox a{
	color: #48569D;
}

.b-checkbox input[type="checkbox"].error + label + label .b-checked,
.b-checkbox input[type="checkbox"].error + label .b-checked{
	border: 2px solid #FF7B7B;
}
.b-checkbox label{
	font-size: 16px;
	line-height: 20px;
	color: #FFF;
	cursor: pointer;
}

.b-checkbox input[type="checkbox"]{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
	.b-checkbox .b-checked{
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-top: 2px;
		width: 25px;
		height: 25px;
		border-radius: 4px;
		border: 2px solid #FFF;
		margin-right: 30px;
	}
		.b-checkbox .b-checked:before{
			position: absolute;
			left: 4px;
    		top: 4px;
			display: none;
		}
		.b-checkbox label:hover .b-checked:before{
			opacity: 0.3;
			display: block;
		}
		.b-checkbox input[type="checkbox"]:checked + label + label .b-checked:before,
		.b-checkbox input[type="checkbox"]:checked + label .b-checked:before{
			display: block;
		}
		.b-checkbox input[type="checkbox"]:checked + label + label:hover .b-checked:before,
		.b-checkbox input[type="checkbox"]:checked + label:hover .b-checked:before{
			opacity: 1;
		}

	.b-checkbox p{
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 62px);
		max-width: 273px;
	}

/* =====slick =====*/

.slick-dots {
    bottom: -32px;
}
.slick-dots li{
	width: 20px;
	height: 20px;
	margin: 0 8px;
}
.slick-dots li button{
	width: 20px;
	height: 20px;
	padding: 5px;
}

.slick-dots li button:before{
    content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
    font-size: 0;
    background-color: #D3D3D3;
    border-radius: 100px;
}

.slick-dots li:hover button:before{
    background-color: #0B6093;
    opacity: 0.5;
}

.slick-dots li.slick-active button:before{
    background-color: #0B6093;
    opacity: 1;
}

.b-main-slider-arrows{
	position: absolute;
	z-index: 5;
	bottom: 16px;
	width: 38px;
	height: 38px;
	border-radius: 100px;
	background-color: #C4C3CA;
	cursor: pointer;
	-webkit-transition: background-color 100ms ease-out;
	   -moz-transition: background-color 100ms ease-out;
	    -ms-transition: background-color 100ms ease-out;
	   	 -o-transition: background-color 100ms ease-out;
			transition: background-color 100ms ease-out;
}
.b-main-slider-arrows:hover{
	background-color: #231E78;
}
.b-main-slider-arrows.icon-arrow-left{
	right: 98px;
}
.b-main-slider-arrows.icon-arrow-right{
	right: 38px;
}
.b-main-slider-arrows.icon-arrow-left:before{
	position: absolute;
	top: 13px;
	left: 14px;
	color: #FFF;
}
.b-main-slider-arrows.icon-arrow-right:before{
	position: absolute;
	top: 13px;
	left: 15px;
	color: #FFF;
}

/* ==== Попапы ==== */

.fancybox-is-open .fancybox-bg{
	opacity: 1;
}
.fancybox-bg{
	-webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
	background-color: rgba(255, 255, 255, 0.6);
}
.fancybox-content {
	box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.06);
    padding: 66px 122px;
}
.fancybox-slide--html{
	padding: 16px;
}

.b-popup{

}
	.b-popup h2{
		margin-bottom: 24px;
	}
	.b-popup .subtitle{
		margin-bottom: 36px;
	}
	.b-popup .b-input{
		margin-bottom: 20px;
	}
	.b-popup .b-input.captcha .input{
		display: inline-block;
		vertical-align: top;
		width: 156px;
		margin-right: 12px;
	}
	.b-popup .b-input.captcha img{
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 174px);
	}
	.b-popup .b-btn{
		font-family: 'FiraSans-Regular';
	}
		.b-popup .b-input input{
			border: 1px solid #A3A3A3;
			padding: 20px 16px;
		}
		.b-popup .b-checkbox{
			margin-bottom: 16px;
		}
		.b-popup .b-checkbox input[type="checkbox"].error + label + label .b-checked,
		.b-popup .b-checkbox input[type="checkbox"].error + label .b-checked{
			border: 1px solid #206CD1
		}
		.b-popup .b-checkbox label{
			color: #000;
			line-height: 22px;
		}
		.b-popup .b-checkbox label:hover .b-checked{
			background-color: rgba(72, 86, 157, 0.5);
		}
		.b-popup .b-checkbox label:hover .b-checked:before {
		    opacity: 1;
		}
		.b-popup .b-checkbox input[type="checkbox"]:checked + label:hover .b-checked{
			background-color: rgba(72, 86, 157, 1);
		}
		.b-popup .b-checkbox input[type="checkbox"]:checked + label .b-checked{
			background-color: rgba(72, 86, 157, 1);
		}
			.b-popup .b-checkbox .b-checked{
				width: 16px;
				height: 16px;
				border-radius: 3px;
				border: 1px solid #206CD1;
				margin-right: 10px;
			}
				.b-popup .b-checkbox .b-checked:before{
					left: 3px;
   					top: 3px;
   					font-size: 8px;
				}

			.b-popup .b-checkbox p{
				width: calc(100% - 40px);
				max-width: none;
			}
	.b-popup .fancybox-close-small{
		position: absolute;
		top: 15px;
		right: 19px;
		width: 26px;
		height: 26px;
		padding: 8px;
		border-radius: 100px;
		background-color: #48569D;
		opacity: 1;
	}
		.b-popup .fancybox-close-small:before{
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			background-image: url(../i/icon-close-popup.svg);
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: 10px;
		}
	.b-popup .register a{
		color: #48569D;
	}

.b-popup-auth{
	width: 672px;
}
	.b-popup-auth h2{

	}
	.b-popup-auth p{

	}
	.b-popup-auth-soc{
		margin-top: 12px;
	}
		.auth-soc{
			position: relative;
			display: inline-block;
			width: 156px;
			padding: 6px 10px 7px 54px;
			margin-right: 12px;
			background-color: #48569D;

		}
		.auth-soc:last-child{
			margin-right: 0;
		}
			.auth-soc-text{
				color: #FFF;
				font-size: 14px;
				line-height: 22px;
			}
			.auth-soc .icon-vk{
				position: absolute;
				top: 6px;
    			left: 10px;
			}
			.auth-soc .icon-vk:before{
				font-size: 12px;
			}
			.auth-soc .icon-facebook{
				position: absolute;
				top: 9px;
    			left: 14px;
			}
			.auth-soc .icon-facebook:before{
				font-size: 20px;
			}
	.b-popup-auth-or{
		margin: 20px 0;
	}
		.b-popup-auth-or span{
			display: inline-block;
			vertical-align: top;
			width: 30px;
			color: rgba(0,0,0,0.3);
		}
		.b-popup-auth-or .line{
			display: inline-block;
			vertical-align: top;
			margin-top: 13px;
			width: calc(100% - 35px);
			height: 1px;
			background-color: rgba(0, 0, 0, 0.15);
			float: right;
		}
	.b-popup-auth .forgot{
		float: right;
		margin-top: 13px;
		color: #48569D;
	}
	.b-popup-auth .register{
		margin-top: 20px;
	}

.b-popup-register{
	width: 682px;
}
	.b-popup-register .b-input {
	    margin-bottom: 32px;
	}
	.b-popup-register .form-after{
		margin-bottom: 32px;
	}
	.b-popup-register .form-after p:first-child{
		margin-bottom: 6px;
	}
		.b-popup-register .form-after .required{
			color: #F00;
			margin-right: 4px;
		}
	.b-popup-register .b-checkbox {
		margin-bottom: 46px;
	}
	.b-popup-register .b-btn{
		margin-bottom: 24px;
	}

.b-popup-forgot{
	width: 672px;
}
	.b-popup-forgot .b-input.captcha{
		margin-bottom: 36px;
	}
	.b-popup-forgot .b-btn{
		margin-bottom: 16px;
	}

@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 1440px){
	
}