@charset "utf-8";

@font-face {
    font-family: 'FiraSans-Bold';
    src: url('../fonts/FiraSans-Bold.eot');
    src: url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Bold.woff2') format('woff2'),
        url('../fonts/FiraSans-Bold.woff') format('woff'),
        url('../fonts/FiraSans-Bold.ttf') format('truetype'),
        url('../fonts/FiraSans-Bold.svg#FiraSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Medium';
    src: url('../fonts/FiraSans-Medium.eot');
    src: url('../fonts/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Medium.woff2') format('woff2'),
        url('../fonts/FiraSans-Medium.woff') format('woff'),
        url('../fonts/FiraSans-Medium.ttf') format('truetype'),
        url('../fonts/FiraSans-Medium.svg#FiraSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../fonts/FiraSans-Regular.eot');
    src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Regular.woff2') format('woff2'),
        url('../fonts/FiraSans-Regular.woff') format('woff'),
        url('../fonts/FiraSans-Regular.ttf') format('truetype'),
        url('../fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ilezgv');
  src:  url('../fonts/icomoon.eot?ilezgv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ilezgv') format('truetype'),
    url('../fonts/icomoon.woff?ilezgv') format('woff'),
    url('../fonts/icomoon.svg?ilezgv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html,
body {
	position: relative;
}
body {
	min-width: 1280px;
	font-family: 'FiraSans-Regular';
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000;
	text-align: left;
	font-size: 16px;
	line-height: 25px;
}
a{
	text-decoration: none;
	color: #000;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.bold, b{
	font-family: 'FiraSans-Bold';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1386px;
	margin: 0px auto;
}
input::-webkit-input-placeholder {
	color: #777;
}
input:-moz-placeholder {
	color: #777;
}
[class^="icon-"]:before, 
[class*=" icon-"]:before,
.with-arrow:after{
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hide{
	display: none !important;
}
.center{
	text-align: center;
}
.dashed{
	border-bottom: 1px dashed #000;
}
.dashed:hover{
	border-bottom: 1px dashed transparent;
}
.b-gray{
	background-color: #F2F5F7;
}

h1{
	font-family: 'FiraSans-Bold';
}
h2, h3{
	font-family: "FiraSans-Bold";
}
h2.b-title{
	font-size: 40px;
	line-height: 47px;
	margin-bottom: 32px;
}

.b-btn{
	position: relative;
	min-width: 282px;
	display: inline-block;
    color: #231E78;
    padding: 12px 24px;
    border-radius: 100px;
    border: 1px solid #231E78;
    font-family: 'FiraSans-Bold';
}
	.b-btn .icon-arrow-right:before{
		position: absolute;
		top: 18px;
		right: 18px;
	}

.icon-vk:before {
  content: "\e900";
  font-size: 7px;
  color: #FFF;
}
.icon-facebook:before {
  content: "\e901";
  font-size: 14px;
  color: #FFF;
}
.icon-gmail:before {
  content: "\e902";
  font-size: 17px;
  color: #FFF;
}
.icon-search:before {
  content: "\e903";
  font-size: 17px;
  color: #2B64DB;
}
.icon-arrow-left:before{
  content: "\e905";
  font-size: 13px;
}
.icon-arrow-right:before,
.with-arrow:after{
  content: "\e904";
  font-size: 13px;
}
.icon-menu:before {
  content: "\e906";
  font-size: 13px;
  color: #000;
}

.b-line{
	height: 2px;
	background-image: linear-gradient(90deg, #2B64DB 0%, rgba(43, 100, 219, 0) 88.22%);
}
.b-color-blue .b-line,
.b-color-blue-dark .b-line{
	background-image: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 88.22%);
}
.with-arrow{
	display: inline-block;
	position: relative;
	min-width: 220px;
}
.with-arrow:after{
	position: absolute;
	top: 2px;
	right: 0;
}
.b-size-3-4{
	width: 75%;
}
.b-size-3-4.b-size-left{
	float: left;
}
.b-size-3-4.b-size-right{
	float: right;
}
.b-size-1-4{
	width: calc(25% - 20px);
}
.b-size-1-4.b-size-left{
	float: left;
}
.b-size-1-4.b-size-right{
	float: right;
}

.b-color-blue{
	background-color: #2E4A8A;
}
.b-color-blue-dark{
	background-color: #202E86;
}

/* ===== Главная ===== */

.b-header{

}
	.b-header-top{
		padding: 18px 0;
	}
		.b-header-logo{
			display: inline-block;
			vertical-align: top;
			width: 161px;
			height: 46px;
			background-image: url(../i/logo.png);
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: 161px;
		}
		.b-header-top-right{
			padding-top: 14px;
			display: inline-block;
			vertical-align: top;
			float: right;
		}
			.b-soc{
				display: inline-block;
				vertical-align: top;
				margin-right: 67px;
			}
				.b-soc a{
					display: inline-block;
					vertical-align: top;
					width: 26px;
					height: 26px;
					border-radius: 100px;
					font-size: 0px;
					margin-right: 23px;
					text-align: center;
					background-color: #2B64DB;
					overflow: hidden;
				}
				.b-soc a.icon-vk{
					padding-top: 4px;
				}
				.b-soc a.icon-facebook{
					padding-top: 6px;
				}
				.b-soc a.icon-gmail{
					padding-top: 7px;
				    padding-left: 2px;
				    text-align: left;
				}
				.b-soc a:last-child{
					margin-right: 0;
				}
			.b-header-search{
				padding-top: 2px;
				display: inline-block;
				vertical-align: top;
				margin-right: 84px;
			}
			.b-header-community{
				position: relative;
				display: inline-block;
				vertical-align: top;
				padding-left: 38px;
				font-size: 14px;
				line-height: 25px;
			}
			.b-header-community:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 22px;
				height: 22px;
				background-image: url(../i/icon-community.svg);
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-size: 22px;
			}

	.b-header-menu{
		padding: 18px 0;
		border: 1px solid #E2E2E2;
	}
		.b-btn-menu{
			display: inline-block;
			vertical-align: top;
			border: 1px solid #ACACAC;
			border-radius: 5px;
			padding: 5px 17px;
			margin-right: 118px;
			cursor: pointer;
		}
			.b-btn-menu .icon-menu{
				display: inline-block;
				vertical-align: top;
				margin-right: 14px;
			}
			.b-btn-menu > span{
				display: inline-block;
				vertical-align: top;
				font-family: 'FiraSans-Medium';
			}
		.b-menu-list-wrap{
			width: calc(100% - 240px);
			display: inline-block;
			vertical-align: top;
		}
		.b-menu-list{
			text-align: justify;
			height: 32px;
			padding-top: 6px;
		}
		.b-menu-list:after {
			content: '';
		    display: inline-block;
		    width: 100%;
		    vertical-align: top;
		}
			.b-menu-list li{
				display: inline-block;
			}
				.b-menu-list li a{
					text-transform: uppercase;
					font-family: 'FiraSans-Medium';
					color: #454545;
				}

.block-bottom{
	position: absolute;
	left: 24px;
	bottom: 24px;
	font-size: 14px;
	line-height: 20px;
	font-family: 'FiraSans-Bold';
	letter-spacing: 1.5px;
}
.b-content{

}
	.b-main-slider{
		position: relative;
		margin-top: 16px;
		margin-bottom: 90px;
		width: 100%;
		/*height: 310px;*/
		border-radius: 5px;
	}
		.b-main-slider-item{

		}
			.b-main-slider-item img	{
				width: 100%;
			}

	.b-news-days{
		margin-bottom: 20px;
	}
			.b-news-days-item{
				position: relative;
				float: left;
				width: calc(100%/3);
				min-height: 568px;
				padding: 28px 20px;
				background-color: #F2F5F7;
			}
				.b-news-days-item h2{
					font-size: 40px;
					line-height: 47px;
					margin-bottom: 36px;
				}
				.days-list{

				}
					.days-item{

					}
						.days-item .date{
							font-family: 'FiraSans-Bold';
							color: #B0B0B0;
							margin-bottom: 10px;
						}
						.days-item p{
							margin-bottom: 20px;
						}
				.b-news-days-item a{
					text-transform: uppercase;
					color: #43469A;
				}
			.b-news-days-item.b-news-days-today{
				background-color: #43469A;
			}
			.b-news-days-item.b-news-days-today h2,
			.b-news-days-item.b-news-days-today .date,
			.b-news-days-item.b-news-days-today a,
			.b-news-days-item.b-news-days-today p{
				color: #FFF;
			}
	.b-news-days-right{

	}
		.b-news-days-right-top{
			position: relative;
			height: 332px;
			padding: 24px;
			margin-bottom: 14px;
			background-color: #6E8EC1;
		}
			.b-news-days-right-top h3{
				font-family: 'FiraSans-Medium';
				font-size: 25px;
				line-height: 32px;
				color: #FFF;
			}
			.b-news-days-person{
				width: calc(100% - 48px);
				position: absolute;
				left: 24px;
				bottom: 30px; 
			}
				.b-news-days-person .b-img{
					display: inline-block;
					vertical-align: top;
					width: 45px;
					height: 45px;
					border-radius: 100px;
					margin-right: 23px;
				}
				.b-news-days-person .b-name{
					display: inline-block;
					vertical-align: top;
					width: calc(100% - 74px);
					color: #FFF;
					line-height: 20px;
					padding-top: 2px;
				}
			.b-news-days-right-top .quotes-left{
				position: absolute;
				left: 38px;
				top: 13px;
				width: 62px;
				height: 48px;
				background-image: url(../i/quotes-left.png);
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-size: 62px;
			}
			.b-news-days-right-top .quotes-right{
				position: absolute;
				right: 20px;
				bottom: 28px;
				width: 113px;
				height: 87px;
				background-image: url(../i/quotes-right.png);
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-size: 113px;
			}
		.b-news-days-right-bottom{
			height: 222px;
			padding: 24px;
			background-color: #F2F5F7;
		}
			.b-news-days-right-bottom h3{
				font-family: 'FiraSans-Medium';
				font-size: 25px;
				line-height: 32px;
				margin-bottom: 27px;
			}
			.b-news-days-right-bottom .b-line{
				width: 100%;
				max-width: 238px;
				margin-bottom: 25px;
				background-image: linear-gradient(90deg, #2B64DB 0%, rgba(43, 100, 219, 0) 88.22%);
			}
			.b-news-days-right-bottom a{
				font-family: 'FiraSans-Bold';
				letter-spacing: 1.5px;
				text-transform: uppercase;
				color: #43469A;
			}

.b-question-calendar{
	height: 490px;
	margin-bottom: 60px;
}
.b-question-calendar .b-block{
	height: 100%;
}
	.b-question-calendar-left{
		position: relative;
		padding: 24px 22px;
		height: 100%;
		background-color: #231E78;
	}
		.b-question-calendar-left .ask-question{
			position: absolute;
			left: 22px;
			bottom: 24px;
			display: inline-block;
			color: #FFF;
			font-size: 40px;
			line-height: 47px;
			font-family: 'FiraSans-Bold';
		}
			.b-question-calendar-left .ask-question .icon-arrow-right{
				position: absolute;
			    right: -34px;
				bottom: 2px;	
			}
			.b-question-calendar-left .ask-question .icon-arrow-right:before{
				color: #FFF;
				font-size: 18px;
			}
		.question-back-1{
			position: absolute;
		    width: 35px;
		    height: 56px;
		    top: 245px;
		    left: 29px;
		    background-image: url(../i/question-1.svg);
		    background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: 35px;
		    opacity: 0.5;
		    -moz-transform: rotate(-25deg);
		    -ms-transform: rotate(-25deg);
		    -webkit-transform: rotate(-25deg);
		    -o-transform: rotate(-25deg);
		    transform: rotate(-25deg);
		}
		.question-back-2{
			position: absolute;
			width: 49px;
			height: 78px;
			top: 221px;
			left: 55px;
			background-image: url(../i/question-1.svg);
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: 49px;
		}
		.question-back-3{
			position: absolute;
		    width: 40px;
		    height: 67px;
		    top: 241px;
		    left: 94px;
		    background-image: url(../i/question-1.svg);
		    background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: 40px;
		    opacity: 0.5;
		    -moz-transform: rotate(25deg);
		    -ms-transform: rotate(25deg);
		    -webkit-transform: rotate(25deg);
		    -o-transform: rotate(25deg);
		    transform: rotate(25deg);
		}
	.b-question-calendar-right{
		height: 100%;
	}
	.b-calendar-cont{
		float: left;
		width: 53%;
		background-color: #6E8EC1;
		padding: 32px 40px;
		height: 100%;
		color: #FFF;
	}
		.b-calendar-cont h2{
			font-size: 40px;
	    	line-height: 47px;
	    	margin-bottom: 32px;
		}
		.b-month-list{
			margin-bottom: 32px;
		}
			.b-month-list .month{
				display: inline-block;
				width: 110px;
				margin-right: 4px;
				font-family: 'FiraSans-Medium';
				font-size: 19px;
				line-height: 29px;
				color: #FFF;
				opacity: 0.5;
			}
			.b-month-list .month.active{
				width: 140px;
				font-size: 24px;
				line-height: 29px;
				opacity: 1;
			}
			.b-month-list .icon-arrow-right{
				display: inline-block;
				color: #FFF;
			}
		.b-calendar{
			width: 100%;
		}
			.b-calendar th{
				width: 60px;
				padding-bottom: 20px;
			}
				.b-calendar td{
					position: relative;
					padding-bottom: 28px;
				}
					.b-calendar td a{
						position: absolute;
					    padding: 5px 10px;
					    display: inline-block;
					    background-color: #FFF;
					    border-radius: 100px;
					    color: #43469A;
					    font-family: 'FiraSans-Bold';
					    top: -5px;
					    left: -11px;
					}
	.b-events{
		position: relative;
		float: left;
		width: 47%;
		color: #FFF;
		padding: 24px 42px 85px 42px;
		background-color: #2E4A8A;
		height: 100%;
	}
		.b-events-list{

		}
			.b-events-item{
				margin-bottom: 22px;
			}
				.b-events-item .date{
					font-family: 'FiraSans-Bold';
					font-size: 14px;
					line-height: 20px;
					text-transform: uppercase;
					margin-bottom: 6px;
				}
				.b-events-item p{
					line-height: 22px;
				}
		.all-events{
			position: absolute;
			left: 41px;
			bottom: 24px;
			padding: 12px 24px;
			border-radius: 100px;
			border: 1px solid #FFF;
			color: #FFF;
		}

.b-news{
	padding: 40px 0;
}
	.b-news-list{
		margin-bottom: 32px;
	}
		.b-news-item{
			position: relative;
			float: left;
			width: calc(100%/3 - 16px);
			height: 224px;
			margin-right: 24px;
			padding: 28px;
			background-color: #FFF;
		}
		.b-news-item:last-child{
			margin-right: 0;
		}
			.b-news-item .date{
				color: #B0B0B0;
				font-family: 'FiraSans-Bold';
				margin-bottom: 8px;
			}
			.b-news-item p{
				font-size: 20px;
				line-height: 22px;
			}
			.b-news-item a{
				left: 28px;
			    text-transform: uppercase;
			    color: #231E78;
			}
	.all-news{
		display: inline-block;
		color: #231E78;
		padding: 12px 24px;
		border-radius: 100px;
		border: 1px solid #231E78;
		font-family: 'FiraSans-Bold';
	}

.b-directions{
	margin: 84px 0 74px 0;
}
	.b-directions-half{
		float: left;
		width: calc(50% - 10px);
		margin-right: 20px;
	}
	.b-directions-half:nth-child(2n){
		margin-right: 0;
	}
		.b-directions-item{
			position: relative;
			float: left;
			width: calc(50% - 10px);
			background-color: #F2F5F7;
			padding: 24px 24px 100px 24px;
			margin-right: 20px;
			margin-bottom: 24px;
			color: #000;
			height: 324px;
		}
		.b-directions-item:nth-child(2n){
			margin-right: 0;
		}
		.b-directions-item.wide{
			width: 100%;
			margin-right: 0;
		}
		.b-directions-item.b-color-blue{
			background-color: #2E4A8A;
			color: #FFF;
		}
		.b-directions-item.b-color-blue-dark{
			background-color: #202E86;
			color: #FFF;
		}
		.b-directions-item.b-color-blue h2,
		.b-directions-item.b-color-blue-dark h2,
		.b-directions-item.b-color-blue > a,
		.b-directions-item.b-color-blue-dark > a,
		.b-directions-item.b-color-blue ul li a,
		.b-directions-item.b-color-blue-dark ul li a{
			color: #FFF;
		}
			.b-directions-item h2{
				font-size: 32px;
				line-height: 46px;
				margin-bottom: 24px;
			}
			.b-directions-item .b-line{
				margin-bottom: 30px;
			}
			.b-directions-item ul{

			}
				.b-directions-item ul li{
					margin-bottom: 8px;
				}
					.b-directions-item ul li a{

					}
			.b-directions-item > a{
				text-transform: uppercase;
			}

.b-footer{
	box-shadow: 0px -6px 44px rgba(0, 0, 0, 0.05);
}

	.b-footer-top{
		padding: 63px 0 44px 0;
	}
		.b-footer-logo{
		    display: inline-block;
			vertical-align: top;
			width: 138px;
			height: 38px;
			background-image: url(../i/logo.png);
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: 138px;
		    margin-right: 106px;
		}
		.b-footer-menu{
			display: inline-block;
			vertical-align: top;
			padding-top: 8px;
		}
		.b-footer-menu-left{
			width: 220px;
			margin-right: 12px;
		}
		.b-footer-menu-right{
			width: 220px;
		}
			.b-footer-menu li{
				margin-bottom: 24px;
			}
			.b-footer-menu li:last-child{
				margin-bottom: 0;
			}
				.b-footer-menu li a{
					font-size: 14px;
					line-height: 20px;
				}
		.b-footer-contacts{
			display: inline-block;
			vertical-align: top;
			padding-top: 8px;
			float: right;
			font-size: 14px;
			line-height: 20px;
		}
			.b-footer-contacts .email{
				position: relative;
				display: inline-block;
				padding-left: 32px;
				color: #2B64DB;
				margin-bottom: 28px;
			}
			.b-footer-contacts .email:before{
				content: "";
				position: absolute;
				top: 4px;
				left: 0;
				width: 14px;
				height: 10px;
				background-image: url(../i/icon-email.svg);
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-size: 14px;
			}
			.b-footer-contacts .phone{
				position: relative;
				padding-left: 32px;
				display: inline-block;
			}
			.b-footer-contacts .phone:before{
				content: "";
				position: absolute;
				top: 3px;
				left: 3px;
				width: 11px;
				height: 11px;
				background-image: url(../i/icon-phone.svg);
				background-position: 50% 50%;
			    background-repeat: no-repeat;
			    background-size: 11px;
			}
	.b-footer-search{
		padding: 47px 0 37px 0;
	}
		.b-footer-search .b-input{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 382px;
			margin-left: 248px;
			margin-right: 116px;
		}
		.b-footer-search .b-input .icon-search{
			position: absolute;
			top: 11px;
			left: 14px;
		}
		.b-footer-search .b-input .icon-search:before{
			color: #000;
			font-size: 14px;
		}
		.b-footer-search .b-soc{
			display: inline-block;
			vertical-align: top;
			padding-top: 10px;
		}
			.b-footer-search .b-soc a{
				background-color: #2E4A8A;
			}
	.b-footer-bottom{
		padding: 20px 0 18px 0;
		background-color: #1A2985;
		color: #FFF;
	}

.b-input{

}
	.b-input input{
		width: 100%;
		background-color: #FFF;
		border: 1px solid #ECEBED;
		border-radius: 5px;
		padding: 14px 14px 14px 44px;
	}

/* =====slick =====*/

.slick-dots {
    bottom: -32px;
}
.slick-dots li{
	width: 20px;
	height: 20px;
	margin: 0 8px;
}
.slick-dots li button{
	width: 20px;
	height: 20px;
	padding: 5px;
}

.slick-dots li button:before{
    content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
    font-size: 0;
    background-color: #D3D3D3;
    border-radius: 100px;
}

.slick-dots li:hover button:before{
    background-color: #0B6093;
    opacity: 0.5;
}

.slick-dots li.slick-active button:before{
    background-color: #0B6093;
    opacity: 1;
}

.slick-arrow{
	position: absolute;
	z-index: 5;
	bottom: 16px;
	width: 38px;
	height: 38px;
	border-radius: 100px;
	background-color: #C4C3CA;
	cursor: pointer;
}
.slick-arrow:hover{
	background-color: #231E78;
}
.slick-arrow.slick-prev{
	right: 98px;
}
.slick-arrow.slick-next{
	right: 38px;
}
.slick-arrow.slick-prev .icon-arrow-left:before{
	position: absolute;
	top: 12px;
	left: 11px;
	color: #FFF;
}
.slick-arrow.slick-next .icon-arrow-right:before{
	position: absolute;
	top: 12px;
	left: 14px;
	color: #FFF;
}


@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}	
@media screen and (max-width: 1440px){
	.b-block{
		width: calc(100% - 54px);
	}
}