@charset "utf-8";

body {
	min-width: 320px;
}
.b-block{
	width: calc(100% - 24px);
}
h1{
	
}
h2.b-title{
	font-size: 30px;
	line-height: 38px;
	margin-bottom: 18px;
}

.b-header-top-right{
	display: none;
}
.b-header-menu-cont{
	display: none;
}
.b-btn-menu-desktop{
	display: none;
}

.b-main-slider-cont {
    height: 154px;
}
.b-header-top {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
}
	.b-header-top .b-block{
		width: calc(100% - 80px);
	}
.b-main-slider-cont {
    margin-top: 24px;
    margin-bottom: 48px;
}

.b-menu-mobile{
		position: relative;
		display: block;
		float: right;
		margin-top: 6px;
	}
		.b-menu-mobile .b-btn-menu{
			position: absolute;
			top: 0;
			right: 0;
			width: 108px;
			display: inline-block;
			padding: 5px 17px 4px 17px;
		    margin-right: 0;
		    margin-top: 0;
		    float: none;
		}
			.b-menu-mobile .b-btn-menu > span{
				font-size: 14px;
				line-height: 27px;
			}
			.b-menu-mobile .b-btn-menu .icon-menu {
			    margin-right: 10px;
			}
		.mobile-close{
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 0;
			right: 0;
			width: 38px;
			height: 38px;
			text-align: center;
    		padding: 7px;
			background: #FFF;
			box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.12);
			border-radius: 5px;
		}
	.b-menu-mobile.open .b-btn-menu{
		opacity: 0;
		visibility: hidden;
	}
	.b-menu-mobile.open .mobile-close{
		opacity: 1;
		visibility: visible;
	}
	.b-main-slider-cont{
		height: 180px;
		margin-bottom: 52px;
	}

	/* === Мобильное меню ===*/

	.b-menu-mobile-cont{
		display: block;
	}
		.b-menu-mobile-window{
			position: absolute;
			top: 0;
			left: 0;
			/*height: calc(100vh - 82px);*/
			width: 100%;
			background-color: #FFF;
			box-shadow: 0px -3px 24px rgba(0, 0, 0, 0.05);
			overflow: hidden;
			opacity: 0;
			visibility: hidden;
			-moz-transform: translateY(-10px);
		    -ms-transform: translateY(-10px);
		    -webkit-transform: translateY(-10px);
		    -o-transform: translateY(-10px);
		    transform: translateY(-10px);
		    -webkit-transition: opacity 200ms, visibility 200ms, transform 200ms;
			   -moz-transition: opacity 200ms, visibility 200ms, transform 200ms;
			    -ms-transition: opacity 200ms, visibility 200ms, transform 200ms;
			   	 -o-transition: opacity 200ms, visibility 200ms, transform 200ms;
					transition: opacity 200ms, visibility 200ms, transform 200ms;
		}
		.b-menu-mobile-window.open{
			opacity: 1;
			visibility: visible;
			-moz-transform: translateY(0);
		    -ms-transform: translateY(0);
		    -webkit-transform: translateY(0);
		    -o-transform: translateY(0);
		    transform: translateY(0);
		}
			.b-menu-mobile-list{
				padding: 50px 30px;
				max-height: calc(100% - 82px);
    			overflow: auto;
			}
				.b-menu-mobile-list li,
				.b-menu-mobile-window .slide-cont li{
					margin-bottom: 16px;
				}
					.b-menu-mobile-list li a,
					.b-menu-mobile-window .slide-cont li a{
						font-size: 16px;
						line-height: 20px;
						color: #48569D;
					}
					.b-menu-mobile-list .open-section{
						display: none;
					}
					.b-menu-mobile-window .slide-cont .open-section{
						display: none;
					}
				.b-menu-mobile-window .slide-cont{
					opacity: 0;
					visibility: hidden;
					-moz-transform: translateX(40px);
				    -ms-transform: translateX(40px);
				    -webkit-transform: translateX(40px);
				    -o-transform: translateX(40px);
				    transform: translateX(40px);
					position: absolute;
				    top: 0;
				    right: 0;
				    z-index: 10;
				    width: calc(100% - 30px);
				    height: 100%;
				    padding: 27px 16px;
				    background-color: #FFF;
				    -webkit-transition: opacity 200ms, visibility 200ms, transform 200ms;
					   -moz-transition: opacity 200ms, visibility 200ms, transform 200ms;
					    -ms-transition: opacity 200ms, visibility 200ms, transform 200ms;
					   	 -o-transition: opacity 200ms, visibility 200ms, transform 200ms;
							transition: opacity 200ms, visibility 200ms, transform 200ms;
    				overflow: auto;
				}
				.b-menu-mobile-window .slide-cont.open{
					opacity: 1;
					visibility: visible;
					-moz-transform: translateX(0);
				    -ms-transform: translateX(0);
				    -webkit-transform: translateX(0);
				    -o-transform: translateX(0);
				    transform: translateX(0);
				}
					.b-menu-mobile-window .slide-cont h3{
						position: relative;
						display: inline-block;
						padding-left: 50px;
						color: #48569D;
						margin-bottom: 20px;
					}
					.b-menu-mobile-window .slide-cont h3:before{
						content: "\e905";
						font-size: 12px;
						position: absolute;
						top: 6px;
    					left: 14px;
						color: #48569D;
					}
					.b-menu-mobile-window .slide-cont ul{
						padding-left: 50px;
					}
					.sub-section-slide{
						box-shadow: -20px 0px 24px rgba(0, 0, 0, 0.05);
					}
			.b-menu-mobile-window .community{
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				padding: 26px 37px;
				background-color: #F2F5F7;
				text-align: center;
			}

.b-main-slider-arrows{
	bottom: 8px;
	width: 20px;
	height: 20px;
}
.b-main-slider-arrows.icon-arrow-left{
	right: 70px;
}
.b-main-slider-arrows.icon-arrow-right{
	right: 40px;
}
.b-main-slider-arrows.icon-arrow-left:before{
	top: 6px;
    left: 6px;
    font-size: 9px;
}
.b-main-slider-arrows.icon-arrow-right:before{
	top: 6px;
    left: 8px;
    font-size: 9px;
}
.slick-dots li {
    margin: 0 3px;
}
.slick-dots {
    bottom: -25px;
}
.slick-dots li button:before {
    width: 8px;
    height: 8px;
}

.b-news-days {
    width: 951px;
}

.with-arrow{
	min-width: 190px;
}

.b-size-3-4,
.b-size-1-4{
	width: 100%;
}
.b-size-3-4.b-size-left,
.b-size-3-4.b-size-right,
.b-size-1-4.b-size-left,
.b-size-1-4.b-size-right{
	float: none;
}

.b-question-calendar-right{
	box-shadow: none;
}

.b-question-calendar-right-wrap {
    height: 100%;
    width: 56%;
    float: right;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
}

.b-mobile-block {
    width: calc(44% - 20px);
    display: block;
    float: left;
}
.b-mobile-block .b-news-days-right-bottom,
.b-mobile-block .b-news-days-right-top,
.b-mobile-block .b-ask-question{
	margin-bottom: 8px;
}
.b-mobile-block .b-news-days-right-top{
	height: 206px;
}
	.b-mobile-block .b-news-days-right-top h3 {
	    font-size: 20px;
	    line-height: 24px;
	    margin-bottom: 32px;
	}
.b-mobile-block .b-news-days-right-bottom {
    height: 248px;
}
	.b-mobile-block .b-news-days-right-bottom h3 {
	    font-family: 'FiraSans-Medium';
	    font-size: 20px;
	    line-height: 24px;
	    color: #FFF;
	}
	.b-news-days-right-bottom .quotes-right{
		display: none;
	}
.b-mobile-block .b-ask-question{
	height: 166px;
}
	.b-mobile-block .b-ask-question .ask-question {
	    font-size: 28px;
	    line-height: 35px;
	}
	.b-mobile-block .b-ask-question .ask-question br {
	    display: none;
	}
	.b-mobile-block .b-ask-question .ask-question .icon-arrow-right {
	    position: absolute;
	    right: -30px;
	    bottom: 0px;
	}
	.question-back-1{
	    width: 21px;
	    height: 35px;
	    top: 41px;
	    left: 25px;
	    background-size: 21px;
	}
	.question-back-2{
	    width: 30px;
	    height: 53px;
	    top: 22px;
	    left: 44px;
	    background-size: 30px;
	}
	.question-back-3{
		width: 25px;
	    height: 40px;
	    top: 41px;
	    left: 70px;
	    background-size: 25px;
	}
.b-mobile-block .b-expert-rosatom{
	height: 150px;
	margin-bottom: 0;
}
	.b-mobile-block .b-expert-rosatom h3 {
	    font-size: 20px;
		line-height: 24px;
	    margin-bottom: 17px;
	}
	.b-mobile-block .b-expert-rosatom h3 br{
		display: none;
	}
	.b-mobile-block .b-expert-rosatom .b-line{
		margin-bottom: 14px;
	}



/*.b-news-days-list{
	
	overflow: auto;
}*/
.b-question-calendar .b-question-calendar-left{
    display: none;
}
.b-mobile-block{
	display: block;
}
/*.b-tablet-block .b-news-days-right-bottom,
.b-tablet-block .b-news-days-right-top{
	display: none;
}*/
.b-question-calendar {
    height: auto;
    margin-bottom: 100px;
}
.b-calendar-cont h2 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 22px;
}
.b-month-list .month{
	width: 80px;
    font-size: 14px;
}
.b-month-list .month.active {
    width: 93px;
    font-size: 16px;
}

.b-news-days-right .b-news-days-right-top,
.b-news-days-right .b-news-days-right-bottom{
	display: none;
}

.b-calendar-cont {
    float: none;
    width: 100%;
    padding: 18px 14px 0 14px;
    height: 440px;
}
.b-events {
    float: none;
    width: 100%;
    padding: 24px 14px 36px 14px;
    height: 354px;
}
	.b-events-item:nth-child(n+3) {
	    display: none;
	}
	.all-events{
		left: 14px;
	}
.b-month-list {
    display: inline-block;
    margin-bottom: 26px;
}

.b-news-index,
.b-directions{
	display: none;
}

.b-footer-search {
    padding: 27px 0 22px 0;
}
.b-footer-search .b-input {
    margin-left: 0;
    margin-right: 16px;
}
.b-footer-soc {
    float: right;
}
.b-footer-menu{
	display: none;
}
.b-footer-carry{
	display: block;
}
.b-footer-logo{
	margin-bottom: 50px;
}
.b-footer-menu-mobile{
	display: inline-block;
	width: 300px;
	-webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}
	.b-footer-menu-mobile li{
		margin-bottom: 16px;
	}
		.b-footer-menu-mobile li a{
			font-size: 16px;
			line-height: 20px;
			color: #2E2E2E;
		}
.b-footer-contacts {
    padding-top: 0;
}

@media screen and (max-width: 665px){
	
	.b-header-top .b-block {
	    width: calc(100% - 24px);
	}
	.b-size-3-4,
	.b-size-1-4{
		width: 100%;
	}
	.b-size-3-4.b-size-left,
	.b-size-3-4.b-size-right,
	.b-size-1-4.b-size-left,
	.b-size-1-4.b-size-right{
		float: none;
	}
	.desktop-controls{
		display: none;
	}
	.mobile-controls{
		display: block;
		position: absolute;
		bottom: 28px;
		width: 100%;
		text-align: center;
	}
		.mobile-controls .mobile-dots{
			display: inline-block;
			vertical-align: top;
		}
		.mobile-controls .mobile-arrow-left{
			display: inline-block;
			vertical-align: top;
			position: relative;
		}
		.mobile-controls .mobile-arrow-right{
			display: inline-block;
			vertical-align: top;
			position: relative;
		}

		.mobile-controls .slick-arrow {
			position: static;
		}
		.mobile-controls .slick-dots{
			position: static;
		}

	.b-main-slider-cont .mobile-controls{
		position: static;
		margin-top: 6px;
	}
		.b-main-slider-cont .mobile-controls .slick-dots {
		    line-height: 12px;
		}

	.slick-dots li{
		width: 14px;
		height: 14px;
		margin: 0 2px;
	}
	.slick-dots li button{
		width: 14px;
		height: 14px;
		padding: 3px;
	}

	.slick-dots li button:before{
	    content: '';
		position: absolute;
		top: 3px;
		left: 3px;
		width: 8px;
		height: 8px;
	    font-size: 0;
	    background-color: #48569D;
	    border-radius: 100px;
	    opacity: 1;
	}
	.white-controls .slick-dots li button:before{
		background-color: #C4C4C4;
	}

	.slick-dots li:hover button:before{
	    background-color: #48569D;
	    opacity: 1;
	}
	.white-controls .slick-dots li:hover button:before{
		background-color: #C4C4C4;
	}

	.slick-dots li.slick-active button:before{
	    background-color: #952D8C;
	    opacity: 1;
	}
	.white-controls .slick-dots li.slick-active button:before{
		background-color: #FFF;
	}


	.mobile-controls .icon-arrow-left:before,
	.mobile-controls .icon-arrow-right:before{
		color: #48569D;
	}
	.mobile-controls.white-controls .icon-arrow-left:before,
	.mobile-controls.white-controls .icon-arrow-right:before{
		color: #C4C4C4;
	}

	.b-main-slider-cont .mobile-arrow-left,
	.b-main-slider-cont .mobile-arrow-right{
		width: 18px;
		height: 18px;
		position: relative;
	}
	.b-main-slider-cont .icon-arrow-left:before,
	.b-main-slider-cont .icon-arrow-right:before{
		position: absolute;
		top: 5px;
		left: 5px;
		color: #48569D;
		font-size: 12px;
	}

	.b-news-days-item h2 {
	    font-size: 30px;
	    line-height: 37px;
	    margin-bottom: 20px;
	}

	.b-news-days-list{
		position: relative;
		margin-bottom: 8px;
	}
		.b-news-days-item{
			min-height: 620px;
			padding-bottom: 120px;
		}
			.b-news-days-item .block-bottom {
			    bottom: 84px;
			}
		.b-news-days-list .slick-dots {
		    bottom: 24px;
		    line-height: 15px;
		}

	.b-news-days-right-bottom{
		height: auto;
	}
	.b-news-days-right-bottom h3{
		font-size: 20px;
    	line-height: 24px;
    	margin-bottom: 50px;
	}
	.b-news-days-person{
		width: 100%;
		position: static;
	}
	.b-news-days-right-bottom .quotes-right{
		display: none;
	}

	.b-news-days-right-top{
		height: auto;
		margin-bottom: 8px;
	}
		.b-news-days-right-top h3{
			font-size: 20px;
	    	line-height: 24px;
	    	margin-bottom: 48px;
		}
	.b-news-days {
		width: 100%;
	    margin-bottom: 8px;
	}
	.b-news-days-right .b-news-days-right-top,
	.b-news-days-right .b-news-days-right-bottom{
		display: block;
	}

	.b-question-calendar{
		height: auto;
	}
		.b-mobile-block .b-news-days-right-bottom,
		.b-mobile-block .b-news-days-right-top{
			display: none;
		}
		.b-mobile-block .b-expert-rosatom h3 br {
		    display: block;
		}
		.b-mobile-block .b-expert-rosatom {
		    height: auto;
		}
		.b-question-calendar-right-wrap {
		    height: 100%;
		    width: 100%;
		    float: none;
		    margin-bottom: 8px;
		}
		.b-calendar-cont,
		.b-events{
			height: auto;
		}
		.b-mobile-block{
			float: none;
			width: 100%;
		}
			.b-mobile-block .b-mobile-block-margin{
				width: calc(100% - 24px);
				margin: 0px auto;
			}
			.b-mobile-block .b-ask-question,
			.b-mobile-block .b-expert-rosatom{
				width: 100%;
			}
	.b-ask-question{
		display: block;
		height: 166px;
		margin-bottom: 10px;
	}
	.b-ask-question .ask-question{
		font-size: 30px;
		line-height: 35px;
	}
	.b-ask-question .ask-question br{
		display: none;
	}
	.b-ask-question .ask-question .icon-arrow-right{
		bottom: 0;
	}
	.b-question-calendar .b-block{
		width: 100%;
	}
	.b-question-calendar .b-question-calendar-left{
	    display: none;
	}
	.b-calendar th{
		text-align: center;
	}
		.b-calendar td{
			text-align: center;
		}
			.b-calendar td a {
			    left: calc(50% - 18px);
			}
	
	.b-question-calendar{
		margin-bottom: 54px;
	}
	
	.all-events {
	    position: static;
	    margin-top: 26px;
	}

	.b-footer-top {
	    padding: 40px 0 40px 0;
	}
	.b-footer-logo {
	    width: 166px;
	    height: 49px;
	    background-size: 166px;
	    margin-top: 0;
	    margin-right: 0;
	    margin-bottom: 49px;
	}
	.b-footer-contacts{
		margin-top: 32px;
		padding-top: 0;
		float: none;
	}
	
	.b-footer-search {
	    padding: 30px 0 35px 0;
	}
	.b-footer-search .b-input {
	    width: 100%;
	    margin-left: 0;
	    margin-right: 0;
	    margin-bottom: 24px;
	}

	.b-footer-bottom .b-block{
		padding: 0 10px;
	}

	.b-header-inner{
		height: auto;
	    padding: 15px 0 35px 0;
	}
		.b-header-inner-left{
			display: block;
			width: 100%;
			margin-right: 0;
		}
			.b-breadcrumbs{
				margin-bottom: 10px;
			}
				.b-breadcrumbs li{
					display: inline-block;
					vertical-align: top;
				}
					.b-breadcrumbs li a,
					.b-breadcrumbs li span{
						float: none;
					}
					.b-breadcrumbs li:after {
					    padding: 0 1px 0 5px;
					    display: inline-block;
					    float: none;
					}

			.b-header-inner-left h2{
				font-size: 30px;
				line-height: 36px;
				margin-bottom: 25px;
			}
		.b-header-inner-right{
			display: block;
			width: 100%;
			max-height: 135px;
			font-size: 14px;
			line-height: 22px;
			overflow: hidden;
			margin-bottom: 26px;
			-webkit-transition: max-height 300ms;
			   -moz-transition: max-height 300ms;
			    -ms-transition: max-height 300ms;
			   	 -o-transition: max-height 300ms;
					transition: max-height 300ms;
		}
		.b-header-inner-right.open{
			max-height: 3000px;
		}
	.b-header-show-more{
		position: relative;
		display: block;
		width: 200px;
		text-transform: uppercase;
		font-size: 14px;
	    line-height: 20px;
	    font-family: 'FiraSans-Bold';
	    letter-spacing: 1.5px;
	}
		.b-header-show-more .icon-select{
			position: absolute;
			top: -2px;
			right: 0;
		}
		.b-header-show-more .icon-select:before{
			color: #FFF;
			font-size: 10px;
		}
	.b-footer-soc {
	    float: none;
	}
	.b-footer-menu-mobile {
	    display: block;
	    width: 100%;
	}

}

@media screen and (max-width: 450px){
	.b-footer-menu-mobile {
	    -webkit-column-count: auto;
	       -moz-column-count: auto;
	            column-count: auto;
	}
}

